{% extends "SocialMedia/entreprise/base_entreprise.html" %}

{% block content_page %}

    <!-- Main Content Start -->
    <div class="row main--content mt--60" data-trigger="stickyScroll"
         style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);transform: none;background-color:  white;     margin-top: 20px;">
        <div class="main--content-inner drop--shadow" style="box-shadow: unset;">
            <h3 class="h4 fw--700">
                <span class="mr--4">Modifier une offre</span>
            </h3>
            {% include 'SocialMedia/entreprise/forms/page_modifier_offre_emploi.html' %}
        </div>
    </div>
    <!-- Main Content End -->

{% endblock content_page %}