{%load static %}
<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Udema a modern educational site template">
    <meta name="author" content="Ansonika">
    <title>BTP-Learn | Modern Educational site template</title>

   <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'ELearning/img/favicon-1.ico' %}" type="image/x-icon">


    <!-- BASE CSS -->
    <link href="{% static 'ELearning/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ELearning/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'ELearning/css/vendors.css' %}" rel="stylesheet">
	<link href="{% static 'ELearning/css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'ELearning/css/custom.css' %}" rel="stylesheet">

</head>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->

	<header class="header fadeInDown">
		<div id="logo">
			<a href="index.html"><img src="{% static 'ELearning/img/logo.png' %}" data-retina="true" alt="" width="163" height="45"></a>
		</div>
		<ul id="top_menu">
			<li><a href="login.html" class="login">Se connecter</a></li>
			<li><a href="#0" class="search-overlay-menu-btn">Rechercher</a></li>
			<li><div class="dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a> <!-- lien -->
  <div class="dropdown-menu">
	 {% for t in themes%}
    <a class="dropdown-item" href="cours-list/{{t.id}}" style="color:black;font-size:12px;font-family:'Poppins'"><img src="{{t.theme_picture.url}}" alt="" width="20" height="20">&nbsp;{{t.libelle}}</a>
	  {%endfor%}

  </div>
</div></li>
			<li class="hidden_tablet"><a href="#formateur" class="btn_1 rounded">Devenir formateur</a></li>
			<li>
				<div class="hamburger hamburger--spin">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</li>
		</ul>
		<!-- /top_menu -->
	</header>
	<!-- /header -->

	<div id="main_menu">
		<div class="container">
		<nav class="version_2">
				<div class="row">
					<div class="col-md-6">
						<h3>Accueil</h3>
						<ul>
							<li><a href="index2">Accueil vesrion 1</a></li>
							<li><a href="index2">Accueil vesrion 2</a></li>
							<li><a href="index1">Accueil vesrion 3</a></li>
						</ul>
					</div>
					<div class="col-md-5">
						<h3>Cours</h3>
						<ul>
							<li><a href="cours-list">Liste des cours</a></li>


						</ul>
					</div>
					<div class="col-md-3">
						<h3>Pages</h3>
						<ul>

							<li><a href="about.html">A propos</a></li>

						</ul>
					</div>

				</div>
				<!-- /row -->
			</nav>
			<div class="follow_us">
				<ul>
					<li>Follow us</li>
					<li><a href="#0"><i class="ti-facebook"></i></a></li>
					<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
					<li><a href="#0"><i class="ti-google"></i></a></li>
					<li><a href="#0"><i class="ti-pinterest"></i></a></li>
					<li><a href="#0"><i class="ti-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /main_menu -->
	{% block content %}
	<main>
		<section id="hero_in" class="general" style="background: url({% static 'ELearning/img/about.jpeg' %}) center center no-repeat;">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>A propos BTP-Learn</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="container margin_120_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Pourquoi utiliser BTP-Learn?</h2>
				<p>Avez-vous besoin d'une solution simple pour se former dans le secteur des bâtiments et des travaux publics?<br/>Souhaitez-vous pouvoir facilement un titre professionnelen BTP?<br/>Jetez un oeil à toutes nos offres et nos fonctionnalités</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-diamond"></i>
						<h3>Formateurs qualifiés</h3>
						<p>Nos formateurs sont des professionnels habilités à dispenser des formations dans le secteur des bâtiments et des travaux publics</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-display2"></i>
						<h3>Cours accélérés</h3>
						<p>Notre plateforme propose plusieurs leçons dans plusieurs cours dans le secteur des bâtiments et des travaux publics</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-science"></i>
						<h3>Enseignement avancé</h3>
						<p>Ce mode a pour but de développer les habilités d'enseignement à travers l'interaction et les pratiques d'enseignement supervisés </p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-rocket"></i>
						<h3>Plans d'étude avancés</h3>
						<p>Notre plateforme met en oeuvre des objectifs dans le temps et dans le domaine des bâtiments et des travaux publics à atteindre pour nos apprenants</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-target"></i>
						<h3>Mettre l'accent sur votre cible</h3>
						<p>Notre équipe vous accompagne et vous donne les meilleurs outils pour devenir un expert du domaine</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat" href="#">
						<i class="pe-7s-graph1"></i>
						<h3>Mettre l'accent sur votre succès</h3>
						<p>Votre succès en matière d'apprentissage est l'objectif du programme proposé par BTP-Learn</p>
					</a>
				</div>
			</div>
			<!--/row-->
		</div>
		<!-- /container -->


		<!--/bg_color_1-->

		<div class="container margin_120_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Nos formateurs</h2>
				<p>Les cours enseignés ont été proposés par des experts et des professionnels dans le domaine du BTP.</p>
			</div>
			<div id="carousel" class="owl-carousel owl-theme">
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Julia Holmes<em>CEO</em></h4>
						</div><img src="http://via.placeholder.com/350x500/ccc/fff/1_carousel.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Lucas Smith<em>Marketing</em></h4>
						</div><img src="http://via.placeholder.com/350x500/ccc/fff/2_carousel.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Paul Stephens<em>Business strategist</em></h4>
						</div><img src="http://via.placeholder.com/350x500/ccc/fff/3_carousel.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Pablo Himenez<em>Customer Service</em></h4>
						</div><img src="http://via.placeholder.com/350x500/ccc/fff/4_carousel.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Andrew Stuttgart<em>Admissions</em></h4>
						</div><img src="http://via.placeholder.com/350x500/ccc/fff/5_carousel.jpg" alt="">
					</a>
				</div>
			</div>
			<!-- /carousel -->
		</div>
		<div class="call_section" id="formateur" style="background: url({% static 'ELearning/img/btp.jpeg' %}) center center no-repeat fixed;">
			<div class="container clearfix">
				<div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
					<div class="block-reveal">
						<div class="block-vertical"></div>
						<div class="box_1">
							<h3>Enseignez le monde entier en ligne</h3>
							<p> Transformez vos connaissances en véritable opportunité et enseignez votre passion.<br/>BTP-Learn vous donne l'occasion et les outils pour créer un cours en ligne</p>
							<a href="prof" class="btn_1 rounded">Devenir formateur</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/container-->
	</main>
	<!--/main-->
	{% endblock content %}
	<footer>
		<div class="container margin_120_95">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">
					<p><img src="{% static 'ELearning/img/logo.png' %}" width="149" height="42" data-retina="true" alt=""></p>
					<p>BTP-Learn est une plateforme de formation en E-Learning dédiée au secteur du BTP.<br/>BTP-Learn permet à des étudiants ayant un niveau BAC ou plus,à des professionnels du BTP de se former et d'obtenir un titre professionnel.</p>
					<div class="follow_us">
						<ul>
							<li>Suivez nous</li>
							<li><a href="#0"><i class="ti-facebook"></i></a></li>
							<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="#0"><i class="ti-google"></i></a></li>
							<li><a href="#0"><i class="ti-pinterest"></i></a></li>
							<li><a href="#0"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">
					<h5>Liens utiles</h5>
					<ul class="links">
						<li><a href="#0">Devenir formateur</a></li>
						<li><a href="#0">A propos</a></li>
						<li><a href="#0">Se connecter</a></li>
						<li><a href="#0">Inscription</a></li>
						<li><a href="#0">Contact</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Contactez-nous</h5>
					<ul class="contacts">
						<li><a href="tel://61280932400"><i class="ti-mobile"></i> (+212) 661 43 96 9</a></li>
						<li><a href="mailto:info@udema.com"><i class="ti-email"></i> contact@espr.ma</a></li>
					</ul>
					<div id="newsletter">
					<h6>Newsletter</h6>
					<div id="message-newsletter"></div>
					<form method="post" action="assets/newsletter.php" name="newsletter_form" id="newsletter_form">
						<div class="form-group">
							<input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Your email">
							<input type="submit" value="Submit" id="submit-newsletter">
						</div>
					</form>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy">© 2017 Udema</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->

	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><span class="closebt"><i class="ti-close"></i></span></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_search"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->

	<!-- COMMON SCRIPTS -->
    <script src="{% static 'ELearning/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'ELearning/js/common_scripts.js' %}"></script>
    <script src="{% static 'ELearning/js/main.js' %}"></script>
	<script src="{% static 'ELearning/assets/validate.js' %}"></script>
	
</body>
</html>