{% extends 'SocialMedia/base_socialmedia.html' %}
{% load staticfiles %}

{% block title %}{{block.super}}Acceuil{% endblock title %}

{% block banner %}
<!-- Banner Section Start -->
<section class="banner--section">
    <!-- Banner Slider Start -->
        <!-- Banner Item Start -->
        <div class="banner--item" data-bg-img="{% static 'SocialMedia/img/businessman.jpg' %}" data-overlay="0.5">
            <div class="vc--parent">
                <div class="vc--child">
                    <div class="container">
                        <div class="row row--md-vc">
                            <div class="col-md-7">
                                <!-- Banner Content Start -->
                                <div class="banner--content pt--70 pb--80 text-center">
                                    <div class="title">
                                        <h1 class="h2 text-white">Welcome To Community</h1>
                                    </div>

                                    <div class="sub-title">
                                        <h2 class="h1 text-white">Connect, Share &amp; Engage</h2>
                                    </div>

                                    <div class="desc fs--16">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum aspernatur
                                            repudiandae praesentium, accusantium quo eaque porro ut at corporis, ipsa
                                            omnis vero minima aliquam nulla, eos dolorem provident, deserunt
                                            asperiores!</p>
                                    </div>

                                    <div class="action text-uppercase">
                                        <a href="/login" class="btn btn-white">Se connecter</a>
                                        <a href="/signup" class="btn btn-primary">S'inscrire</a>
                                    </div>
                                </div>
                                <!-- Banner Content End -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Item End -->
</section>
<!-- Banner Section End -->

{% endblock banner %}



{% block content %}
<!-- Features Section Start -->
<section class="section bg-lighter pt--80 pb--40">
    <div class="container">
        <div class="row AdjustRow">
            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">530</span>k+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">Stories / Topics Created</h3>
                    </div>

                    <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">30</span>k+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">Member Online Right Now</h3>
                    </div>

                    <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">1.5</span>k+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">Active Group / Meeting Room</h3>
                    </div>

                    <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">03</span>k+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">New Event In Every Week</h3>
                    </div>

                    <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->

<!-- How It Works Section Start -->
<section class="section pt--70 pb--40">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section--title pb--50 text-center">
            <div class="title">
                <h2 class="h2">How It Works?</h2>
            </div>

            <div class="sub-title">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    industry's.</p>
            </div>
        </div>
        <!-- Section Title End -->

        <div class="row">
            <div class="col-md-7 pb--40">
                <div class="row gutter--15 AdjustRow" data-scroll-reveal="group">
                    <div class="col-xs-4 pb--15">
                        <img src="{% static  'SocialMedia/img/how-it-works-img/01.jpg' %}" alt="">
                    </div>

                    <div class="col-xs-4 pb--15">
                        <img src="{% static  'SocialMedia/img/how-it-works-img/02.jpg' %}" alt="">
                    </div>

                    <div class="col-xs-4 pb--15">
                        <img src="{% static  'SocialMedia/img/how-it-works-img/03.jpg' %}" alt="">
                    </div>

                    <div class="col-xs-12">
                        <img src="{% static  'SocialMedia/img/how-it-works-img/04.jpg' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-5 pb--40">
                <!-- Info Items Start -->
                <div class="info--items" data-scroll-reveal="group">
                    <!-- Info Item Start -->
                    <div class="info--item clearfix">
                        <div class="icon">
                            <img src="{% static  'SocialMedia/img/how-it-works-img/icon-01.png' %}" alt="">
                        </div>

                        <div class="info">
                            <div class="title">
                                <h3 class="h4 fw--700">Create An Account</h3>
                            </div>

                            <div class="desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Info Item End -->

                    <!-- Info Item Start -->
                    <div class="info--item clearfix">
                        <div class="icon">
                            <img src="{% static  'SocialMedia/img/how-it-works-img/icon-02.png' %}" alt="">
                        </div>

                        <div class="info">
                            <div class="title">
                                <h3 class="h4 fw--700">Add Friends &amp; Groups</h3>
                            </div>

                            <div class="desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Info Item End -->

                    <!-- Info Item Start -->
                    <div class="info--item clearfix">
                        <div class="icon">
                            <img src="{% static  'SocialMedia/img/how-it-works-img/icon-03.png' %}" alt="">
                        </div>

                        <div class="info">
                            <div class="title">
                                <h3 class="h4 fw--700">Start Discussion</h3>
                            </div>

                            <div class="desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Info Item End -->

                    <!-- Info Item Start -->
                    <div class="info--item clearfix">
                        <div class="icon">
                            <img src="{% static  'SocialMedia/img/how-it-works-img/icon-04.png' %}" alt="">
                        </div>

                        <div class="info">
                            <div class="title">
                                <h3 class="h4 fw--700">Share With Friends</h3>
                            </div>

                            <div class="desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Info Item End -->
                </div>
                <!-- Info Items End -->
            </div>
        </div>
    </div>
</section>
<!-- How It Works Section End -->





<!-- Why Choose Us Section Start -->
<section class="section bg-lighter pt--80 pb--20">
    <div class="container">
        <div class="row row--md-vc">
            <div class="col-md-6 pb--50">
                <!-- Text Block Start -->
                <div class="text--block pb--10">
                    <div class="title">
                        <h2 class="h2 fw--600">Why Choose Us?</h2>
                    </div>

                    <div class="content fs--14">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. make a type
                            specimen book.</p>
                    </div>
                </div>
                <!-- Text Block End -->

                <div class="row AdjustRow">
                    <div class="col-xs-6 col-xxs-12 pb--10">
                        <!-- Feature Block Start -->
                        <div class="feature--block mb--6 clearfix">
                            <div class="icon fs--18 text-primary mr--20 float--left">
                                <i class="fa fa-comments-o"></i>
                            </div>

                            <div class="info ov--h">
                                <div class="title">
                                    <h2 class="h6 fw--700">Individual Live Chat</h2>
                                </div>

                                <div class="desc mt--8">
                                    <p>Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature Block End -->
                    </div>

                    <div class="col-xs-6 col-xxs-12 pb--10">
                        <!-- Feature Block Start -->
                        <div class="feature--block mb--6 clearfix">
                            <div class="icon fs--18 text-primary mr--20 float--left">
                                <i class="fa fa-wrench"></i>
                            </div>

                            <div class="info ov--h">
                                <div class="title">
                                    <h2 class="h6 fw--700">User Friendly Settings</h2>
                                </div>

                                <div class="desc mt--8">
                                    <p>Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature Block End -->
                    </div>

                    <div class="col-xs-6 col-xxs-12 pb--10">
                        <!-- Feature Block Start -->
                        <div class="feature--block mb--6 clearfix">
                            <div class="icon fs--18 text-primary mr--20 float--left">
                                <i class="fa fa-group"></i>
                            </div>

                            <div class="info ov--h">
                                <div class="title">
                                    <h2 class="h6 fw--700">Discover Amazing People</h2>
                                </div>

                                <div class="desc mt--8">
                                    <p>Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature Block End -->
                    </div>

                    <div class="col-xs-6 col-xxs-12 pb--10">
                        <!-- Feature Block Start -->
                        <div class="feature--block mb--6 clearfix">
                            <div class="icon fs--18 text-primary mr--20 float--left">
                                <i class="fa fa-clock-o"></i>
                            </div>

                            <div class="info ov--h">
                                <div class="title">
                                    <h2 class="h6 fw--700">Times Fly With Us</h2>
                                </div>

                                <div class="desc mt--8">
                                    <p>Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature Block End -->
                    </div>
                </div>
            </div>

            <div class="col-md-6 pb--60">
                <!-- Video Popup Start -->
                <div class="video--popup style--1" data-overlay="0.3">
                    <img src="{% static 'SocialMedia/img/why-choose-us-img/video-poster-1.jpg' %}" alt="">

                    <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4" class="btn-link" data-trigger="video_popup">
                        <span><i class="fa fa-play"></i></span>
                    </a>
                </div>
                <!-- Video Popup End -->
            </div>

        </div>
    </div>
</section>
<!-- Why Choose Us Section End -->

<!-- FAQ and Download Section Start -->
<section class="section pt--70 pb--20">
    <div class="container">
        <div class="row">
            <div class="col-md-5 pb--60">
                <!-- FAQ Items Start -->
                <div class="faq--items" id="faqItems" data-scroll-reveal="group">
                    <div class="title pb--20">
                        <h2 class="h2 fw--600">Frequently Asked Question</h2>
                    </div>

                    <!-- FAQ Item Start -->
                    <div class="faq--item style--1 panel">
                        <div class="title">
                            <h3 class="h6 fw--700 text-darker">
                                <a href="#faqItem01" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                                    <span>How can I register?</span>
                                </a>
                            </h3>
                        </div>

                        <div id="faqItem01" class="content collapse">
                            <div class="content--inner">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomised words even
                                    slightly believable.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->

                    <!-- FAQ Item Start -->
                    <div class="faq--item style--1 panel">
                        <div class="title">
                            <h3 class="h6 fw--700 text-darker">
                                <a href="#faqItem02" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                                    <span>What are the benefits of premium plans?</span>
                                </a>
                            </h3>
                        </div>

                        <div id="faqItem02" class="content collapse">
                            <div class="content--inner">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomised words even
                                    slightly believable.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->

                    <!-- FAQ Item Start -->
                    <div class="faq--item style--1 panel">
                        <div class="title">
                            <h3 class="h6 fw--700 text-darker">
                                <a href="#faqItem03" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                                    <span>How can I renew my plan?</span>
                                </a>
                            </h3>
                        </div>

                        <div id="faqItem03" class="content collapse">
                            <div class="content--inner">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomised words even
                                    slightly believable.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                </div>
                <!-- FAQ Items End -->
            </div>

            <div class="col-md-7 pb--60">
                <!-- Download Block Start -->
                <div class="download--block" data-scroll-reveal="group">
                    <div class="img">
                        <img src="{% static 'SocialMedia/img/download-img/mobile.png' %}" alt="">
                    </div>

                    <div class="info">
                        <div class="title">
                            <h2 class="h2 fw--600">Download Application &amp; Get More Features</h2>
                        </div>

                        <div class="content fs--12">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industtry's statndard dummy specimen book. Lorem Ipsum which looks
                                reasonable. The generated Lorem Ipsum words etc.</p>
                        </div>

                        <div class="action text-uppercase">
                            <a href="#" class="btn btn-sm btn-google"><i class="fa mr--8 fa-play"></i>Play Store</a>
                            <a href="#" class="btn btn-sm btn-apple"><i class="fa mr--8 fa-apple"></i>App Store</a>
                        </div>
                    </div>
                </div>
                <!-- Download Block End -->
            </div>
        </div>
    </div>
</section>
<!-- FAQ and Download Section End -->

{% endblock content %}
