{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ user.username }} - Ajouter une vidéo
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'journal/css/journalist/nav-journalist.css' %}">
    <link rel="stylesheet" href="{% static 'journal/css/journalist/journalist_create_article.css' %}">
    <link rel="stylesheet" href="{% static 'journal/css/journalist/bootstrap-select.min.css' %}">
    <style>
        #form-create-article .margin-row {
            margin-left: -15px;
            margin-right: -15px;
        }

        .js-upload-primary_image {
            margin-top: 0;
        }

        .ending-button .btn {
            margin-bottom: 0;
        }

        .card {
            padding: 20px 15px 2px;
            margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block javascript %}

    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'journal/js/journalist/jquery.min.js' %}"></script>
    <script src="{% static 'journal/js/journalist/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'journal/js/journalist/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'journal/js/journalist/jquery.fileupload.js' %}"></script>

    {# BOOTSTRAP SELECT PLUGIN #}
    <script src="{% static 'journal/js/journalist/bootstrap-select.min.js' %}"></script>

    {# PHOTOS PAGE SCRIPTS #}
    <script src="{% static 'journal/js/journalist/basic-upload.js' %}"></script>

    <script src="{% static 'journal/js/journalist/article_create.js' %}"></script>

{% endblock %}

{% block content %}

    <!-- SECTION HEADER -->
    <div class="section header-info">
        <div class="container">
            <h2>Ajouter Article</h2>
            <!-- breadcrumb -->
            <ul class="article-breadcrumb pull-right">
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li><a href="{% url 'journalist' %}">Espace Journalistes</a></li>
                <li><a href="{% url 'journalist_create_video' %}">Ajouter Vidéo</a></li>
            </ul>
            <!-- /breadcrumb -->
        </div>
    </div>
    <!-- /SECTION HEADER -->
    <!-- NAV JOURNALIST -->
    <div class="container">
        <nav class="nav-journalist">
            <ul class="list-inline">
                <li><a href="{% url 'journalist_profile' %}">Profil</a></li>
                <li><a href="{% url 'journalist_articles' %}">Articles</a></li>
                <li><a href="{% url 'journalist_videos' %}">Videos</a></li>
                <li><a href="{% url 'journalist_signals' %}">Signals</a></li>
                <li><a href="{% url 'journalist_create_article' %}">Ajouter Article</a></li>
            </ul>
        </nav>
    </div>
    <!-- /NAV JOURNALIST -->
    <!-- DIV CREATE ARTICLE -->
    <div class="container create-article">
        <div class="row">
            <div class="card">
                {% if form.errors %}
                    <div class="form-group">
                    <div class="alert alert-danger">
                        <p style="font-size: 18px; font-weight: bold;">Veuillez corriger les erreurs ci dessous :</p>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p style="padding-left: 40px"><strong>{{ field.name }} : </strong>{{ error|escape }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    </div>
                {% endif %}
                <form action="" method="post" id="form-create-article">
                    {{ form.media }}
                    <input type="hidden" id="has-image" value="{{ has_image }}">
                    <div class="alert alert-danger alert-dismissible hidden" role="alert" id="comment-alert"
                          style="margin-bottom: 3px;">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span></button>
                            Veuillez choisir une catégorie
                    </div>
                    <div class="alert alert-danger alert-dismissible hidden" role="alert" id="image-alert"
                          style="margin-bottom: -7px;">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span></button>
                            Veuillez ajouter une image
                     </div>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Titre principale</label>
                        {{ form.title }}
                    </div>
                    <div class="row margin-row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="">Titre réduit</label>
                                {{ form.small_title }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                             <label>Categorie</label>
                             <select name="category" id="article_category" class="selectpicker form-control" title="Sélectionner ...">
                                 {% for cat in cats %}
                                     <option value="{{ cat.id }}">{{ cat }}</option>
                                 {% endfor %}
                             </select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="">Lien du vidéo</label>
                                {{ form.url }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Tags
                                    <button type="button" class="btn btn-dark" id="btn-modal" data-toggle="modal" data-target="#myModal">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </label>
                                <select class="selectpicker form-control" name="tags" multiple
                                        title="Sélectionnez des Tags..." id="tags">
                                    {% for tag in tags %}
                                        <option value="{{ tag.id }}">{{ tag }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-row">
                        <div class="col-md-4">
                            <!-- DIV IMPORT PRIMARY IMAGE -->
                            <div class="form-group">
                                 <label>Image Pricipale</label>
                                 {# 1. BUTTON TO TRIGGER THE ACTION #}
                                 <button type="button" class="btn btn-danger js-upload-primary_image" id="drop-zone">
                                     {% if has_image == 1 %}
                                        <span class="glyphicon glyphicon-cloud-upload"></span> Modifier image principale
                                     {% else %}
                                        <span class="glyphicon glyphicon-cloud-upload"></span> Ajouter image principale
                                     {% endif %}
                                 </button>
                                 {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
                                 <input id="file_upload_primary" type="file" name="image"
                                       style="display: none;" accept="image/*"
                                       data-url="{% url 'journalist_upload_primary_image_video' %}"
                                       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

                                 {# 3. DIV TO DISPLAY THE UPLOADED PHOTO #}
                                 <div id="primary_image_url">
                                     {% if has_image %}
                                         <a href="{{ image.image.url }}">{{ image.image.name }}</a>
                                     {% endif %}
                                 </div>
                             </div>
                            <!-- /DIV IMPORT PRIMARY IMAGE -->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Commentaires activés</label>
                                <input type="radio" name="comment" value="yes" id="c_yes" checked>
                                <input type="radio" name="comment" value="no" id="c_no">
                                <div class="switch">
                                    <label for="c_yes">Oui</label>
                                    <label for="c_no">Non</label>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Partage activé</label>
                                <input type="radio" name="share" value="yes" id="p_yes" checked>
                                <input type="radio" name="share" value="no" id="p_no">
                                <div class="switch-share">
                                    <label for="p_yes">Oui</label>
                                    <label for="p_no">Non</label>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="form-group">
                    <label for="">Résumé du vidéo</label>
                    {{ form.resume }}
                </div>
                <div class="form-group">
                    <label for="">Contenu du vidéo</label>
                    {{ form.content }}
                </div>
                <!-- HIDDEN INPUT -->
                {{ form.category }}
                {{ form.comment_enable }}
                {{ form.share_enable }}
                <!-- /HIDDEN INPUT -->
                <!-- SUBMIT BOUTON -->
                <div class="form-group ending-button">
                    <a href="{% url 'journalist_cancel_video' %}" class="btn btn-danger">Annuler</a>
                    <button class="btn btn-default" type="submit">Créer vidéo</button>
                </div>
                <!-- /SUBMIT BOUTON -->
            </form>
                <!-- /FORM -->
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ajouter un Tag</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success alert-dismissible" role="alert" id="modal-success">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                    onclick="success_hide()">
                                <span aria-hidden="true">&times;</span></button>
                            Tag Créé avec succès
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" id="modal-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                    onclick="danger_hide()">
                                <span aria-hidden="true">&times;</span></button>
                            Veuillez entrer des données valides
                        </div>
                        <form action="{% url 'journalist_create_tag' %}"
                              id="form-tag" data-submit-url="{% url 'journalist_create_tag' %}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Nom</label>
                                        {{ form_tag.name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Couleur</label>
                                        {{ form_tag.color }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Description</label>
                                        {{ form_tag.description }}
                                    </div>
                                </div>
                            </div>
                            <input type="submit" id="modal-form-submit" class="hidden">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" id="modal-submit">Ajouter</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal -->
    </div>
    <!-- /DIV CREATE ARTICLE -->
{% endblock %}