{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ user }}, Journaliste à Newspaper
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'journal/css/journalist/journalist.css' %}">
{% endblock %}

{% block content %}
    <!-- SECTION HEADER -->
    <div class="section header-info">
        <div class="container">
            <h2>Espace Journalistes</h2>
            <!-- breadcrumb -->
            <ul class="article-breadcrumb pull-right">
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li><a href="{% url 'journalist' %}">Espace Journalistes</a></li>
            </ul>
            <!-- /breadcrumb -->
        </div>
    </div>
    <!-- /SECTION HEADER -->
    <!-- NAV JOURNALIST -->
    <div class="container">
        <nav class="nav-journalist">
            <ul class="list-inline">
                <li><a href="{% url 'journalist_profile' %}">Profil</a></li>
                <li><a href="{% url 'journalist_articles' %}">Articles</a></li>
                <li><a href="{% url 'journalist_videos' %}">Vidéos</a></li>
                <li><a href="{% url 'journalist_signals' %}">Signals</a></li>
                <li><a href="{% url 'journalist_create_article' %}">Ajouter Article</a></li>
                <li><a href="{% url 'journalist_create_video' %}">Ajouter Video</a></li>
            </ul>
        </nav>
    </div>
    <!-- /NAV JOURNALIST -->
    <!-- INFO JOURNALIST -->
    <div class="section info-journalist">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ journalist.profile_picture.image_video.url }}" alt="{{ journalist.profile_picture.description }}">
                </div>
                <div class="col-md-4">
                    <h1>Bonjour {{ journalist }}</h1>
                    <p id="last-login">Dernière connexion : {{ user.last_login }}</p>
                    <p><i class="fa fa-file-text"></i> Nombre des articles ajoutés : <span>{{ statistic.number_news }}</span></p>
                    <p><i class="fa fa-video-camera"></i> Nombre de videos ajoutés : <span>{{ statistic.number_video }}</span> </p>
                    <p><i class="fa fa-eye"></i> Nombre total de vues des articles : <span>{{ statistic.news_views_sum }}</span> </p>
                    <p><i class="fa fa-eye"></i> Nombre total de vues des videos : <span>{{ statistic.video_views_sum }}</span></p>
                    <p><i class="fa fa-comment"></i> Nombre de commentaires sur vos post : <span>{{ statistic.number_comment }}</span></p>
                    <p><i class="fa fa-comment"></i> Nombre de commentaires que vous avez ajoutés :
                        <span>{{ statistic.self_comment_count }}</span></p>
                </div>
                <div class="col-md-5">
                    <div id="top-article">
                        {% if top_article != None %}
                            <h3>Meilleur Article</h3>
                            <!-- TOP ARTICLE -->
                            <article class="article widget-article">
                                <div class="article-img">
                                    <a href="{% url 'post' top_article.category.name top_article.id %}">
                                        <img src="{{ top_article.primary_image.image_thumbnail.url }}"
                                             alt="{{ top_article.primary_image.description }}">
                                    </a>
                                </div>
                                <div class="article-body">
                                    <h4 class="article-title"><a href="{% url 'post' top_article.category.name top_article.id %}">
                                        {{ top_article.small_title }}</a></h4>
                                    <ul class="article-meta">
                                        <li><a href="{% url 'category' top_article.category %}" class="label">
                                            {{ top_article.category }}</a></li>
                                        <li><i class="fa fa-clock-o"></i> {{ top_article.date_publication }}</li>
                                        <li><i class="fa fa-eye"></i></li> {{ top_article.view_number }}
                                        <li><i class="fa fa-comments"></i> {{ top_article.comment_set.count }}</li>
                                    </ul>
                                </div>
                            </article>
                            <!-- /ARTICLE -->
                        {% endif %}
                    </div>
                    <div id="top-video">
                        {% if top_video != None %}
                            <h3>Meilleur Video</h3>
                            <!-- TOP VIDEO -->
                            <article class="article widget-article">
                                <div class="article-img">
                                    <a href="{% url 'post' top_video.category.name top_video.id %}">
                                        <img src="{{ top_video.primary_image.image_thumbnail.url }}"
                                             alt="{{ top_video.primary_image.description }}">
                                    </a>
                                </div>
                                <div class="article-body">
                                    <h4 class="article-title"><a href="{% url 'post' top_video.category.name top_article.id %}">
                                        {{ top_video.small_title }}</a></h4>
                                    <ul class="article-meta">
                                        <li><a href="{% url 'video' %}" class="label">
                                            videos</a></li>
                                        <li><i class="fa fa-clock-o"></i> {{ top_video.date_publication }}</li>
                                        <li><i class="fa fa-eye"></i></li> {{ top_video.view_number }}
                                        <li><i class="fa fa-comments"></i> {{ top_video.comment_set.count }}</li>
                                    </ul>
                                </div>
                            </article>
                            <!-- /VIDEO -->
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /INFO JOURNALIST -->
{% endblock %}