
emailuser : {{ emailuser }} <br>
firstname : {{ firstname }} <br>
lastname : {{ lastname }} <br>
telephoneProfile : {{ telephoneProfile }} <br>
civilite : {{ civilite }} <br>
fonction : {{ fonction }} <br>
service : {{ service }} <br>
paysProfile : {{ paysProfile }} <br>
villeProfile : {{ villeProfile }} <br>
adresseProfile : {{ adresseProfile }} <br>
RaisonSociale : {{ RaisonSociale }} <br>
nrc : {{ nrc }} <br>
activite : {{ activite }} <br>
Secteur : {{ Secteur }} <br>
telephoneEntreprise : {{ telephoneEntreprise }} <br>
paysEntreprise : {{ paysEntreprise }} <br>
villeEntreprise : {{ villeEntreprise }} <br>
adresseEntreprise : {{ adresseEntreprise }} <br>
