{% extends 'base_main.html' %}
{% load static %}


{% block title %}
{{ block.super }}
    Modifier mon profil
{% endblock title %}


{% block stylesheets %}
    {{ block.super }}

      <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Accueil</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static "appelsOffres/assets/images/aa.png" %}">

        <!--<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{% static "appelsOffres/assets/css/fonticons.css" %} ">
        <link rel="stylesheet" href="{% static "appelsOffres/assets/fonts/stylesheet.css" %} ">
        <link rel="stylesheet" href="{% static "appelsOffres/assets/css/font-awesome.min.css" %} ">
        <link rel="stylesheet" href="{% static "appelsOffres/assets/css/bootstrap.min.css" %} ">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static "appelsOffres/assets/css/plugins.css" %} " />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static "appelsOffres/assets/css/style.css" %} ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static "appelsOffres/assets/css/responsive.css" %} " />

        <style>
            #profile {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
            }

            .head {
                padding: 5px 5px 5px 0px;
                text-align: right;

            }

            .head > a {
                display: inline;
                padding-left: 10px;
            }

            .btn {
                width: inherit;
            }

            .form-control {
                width: 90%;
            }

            .btn-default:hover {
                border: 1px solid #e84c3d;
                color : #e84c3d;
            }

            .btn-default {
                background-color: #0d47a1;
                color: white;
                border: 0px;
            }

            .btn-danger:hover{
                color: red;
                border: 1px solid red;
            }

            .bodyA{
                margin-top: 20px;
                width: 100%;
            }

            .personnelA {
                margin-top: 10px;
                border: 4px solid #eee;
            }

            .bo {
                margin-top: 5%;
                margin-left: 3%;
                margin-right: 2%;
                border-top: 3px solid darkorange;
                background-color: white;
                box-shadow: 5px 5px 5px darkgray;
            }

        </style>

{% endblock stylesheets %}



{% block content %}
        {{ block.super }}
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!--Home page style-->
        <header id="main_menu" class="header">
            <div class="main_menu_bg navbar-fixed-top" style="background-color: white;">
                <div class="container" >
                    <div class="row">
                        <div class="nave_menu wow fadeInUp" data-wow-duration="1s" >
                            <nav class="navbar navbar-default" id="navmenu" >
                                <div class="container-fluid" >
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        {{ user }}
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                        <ul class="nav navbar-nav navbar-right" >
                                            <li><a href="/appelsOffres">LES APPELS D'OFFRES</a></li>

                                            <li>
                                                  <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">ANNONCES <span class="caret"></span></a>
                                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li><a href="/appelsOffres/NouvelleAnnonce">NOUVELLE ANNONCE</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href="/appelsOffres/MesAnnonces">MES ANNONCES</a></li>
                                                  </ul>
                                            </li>

                                            <li>
                                                  <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">PROJETS <span class="caret"></span></a>
                                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li><a href="/appelsOffres/NouveauProjet">NOUVEAU PROJET</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href="/appelsOffres/MesProjets">MES PROJETS</a></li>
                                                  </ul>
                                            </li>

                                            <li class="active"><a href="/appelsOffres/MonProfile">MON PROFILE</a></li>

                                            <li><a href="/appelsOffres/MESFAVORIS">MES FAVORIS</a></li>

                                            {% if user.is_staff or user.is_superuser %}
                                            <li><a href="/admin">GESTION</a></li>
                                        {% endif %}

                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>
        </header> <!--End of header -->

        <section id="scrolimage" >
                        <div class="w3-content w3-section" >
                          <img class="mySlides" src="{% static "appelsOffres/assets/images/sl1.jpeg" %}" style="width:100%">
                          <img class="mySlides" src="{% static "appelsOffres/assets/images/sl2.jpeg" %}" style="width:100%">
                          <img class="mySlides" src="{% static "appelsOffres/assets/images/sl3.jpeg" %}" style="width:100%">
                          <img class="mySlides" src="{% static "appelsOffres/assets/images/sl4.jpeg" %}" style="width:100%">
                          <img class="mySlides" src="{% static "appelsOffres/assets/images/sl5.jpeg" %}" style="width:100%">
                        </div>

                        <script>
                        var myIndex = 0;
                        carousel();

                        function carousel() {
                            var i;
                            var x = document.getElementsByClassName("mySlides");
                            for (i = 0; i < x.length; i++) {
                               x[i].style.display = "none";
                            }
                            myIndex++;
                            if (myIndex > x.length) {myIndex = 1}
                            x[myIndex-1].style.display = "block";
                            setTimeout(carousel, 5000); // Change image every 2 seconds
                        }
                        </script>

        </section>









        <section id="profile">

                {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                <div class="head">
                    <button class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Modifier </button>
                </div>
                <!--
                <div class="bodyA">

                    <div class="personnelA">


                    <div class="personnelA">
                            <div class="container">
                                <div class="row">
                                    <div class="personnel">
                                        <div class="form-row">

                                                <div class="form-group col-md-6 ">
                                                    <i class="fa fa-vcard-o"></i> <label for="">&nbsp; Raison social : </label>
                                                    <input value="{{ user.profil.entreprise.raison_social }}" class="form-control" name="RaisonSociale">
                                                </div>

                                                <div class="form-group col-md-6 ">
                                                    <i class="fa fa-vcard"></i> <label for="">&nbsp; Registre commerce : </label>
                                                    <input value="{{ user.profil.entreprise.registre_commerce }}" class="form-control" name="nrc">
                                                </div>

                                                <div class="form-group col-md-6 ">
                                                    <i class="fa fa-line-chart"></i> <label for="">&nbsp; Activité : </label>
                                                    <input value="{{ user.profil.entreprise.activite }}" class="form-control" name="activite">
                                                </div>

                                                <div class="form-group col-md-6 ">
                                                    <i class="glyphicon glyphicon-hand-right"></i> <label for="">&nbsp; Secteur d'activité : </label>
                                                    <select class="form-control" name="Secteur" >
                                                        <option value=""> ----- </option>
                                                        <option value="Public">Public</option>
                                                        <option value="Privé">Privé</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-6 ">
                                                    <i class="glyphicon glyphicon-phone-alt"></i> <label for="">&nbsp;tel-Fix :  </label>
                                                    <input  name="telephoneEntreprise" class="form-control" value="{{ user.profil.entreprise.telephone }}">
                                                </div>

                                                <div class="form-group col-md-6 ">
                                                    <i class="fa fa-map"></i> <label for=""> &nbsp; Pays : </label>
                                                    <select class="form-control" name="paysEntreprise" >
                                                        <option value="">-----</option>
                                                        <option value="Maroc">Maroc</option>
                                                        {% for item in pays %}
                                                            <option value="{{ item.id }}">{{ item.pays }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-6 ">
                                                    <i class="fa fa-map-signs"></i><label for="">&nbsp; Ville :  </label>
                                                    <input name="villeEntreprise"  class="form-control" value="{{ user.profil.entreprise.ville }}">
                                                </div>


                                                <div class="form-group col-md-6">
                                                    <i class="fa fa-map-marker"></i><label for="">&nbsp;Adresse : </label>
                                                    <input class="form-control" value="{{ user.profil.entreprise.adresse_Entreprise }}" name="adresseEntreprise">
                                                </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                -->
        </section>


        <div class="container-fluid">
            <div class="row">
                <div class="card col-md-11 bo" >
                    <div class="form-row">

                        <div class="form-group col-md-6 ">
                            <i class="fa fa-envelope"></i>
                            <label for="">&nbsp; Email :</label>
                            <input value ="{{ user.email }}" class="form-control" name="emailuser">
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="glyphicon glyphicon-user"></i> <label for="">&nbsp; Prénom : </label>
                            <input class="form-control" value="{{ user.first_name }}" name="firstname">
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="fa fa-user"></i> <label for="">&nbsp; Nom : </label>
                            <input value="{{ user.last_name }}" class="form-control" name="lastname">
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="glyphicon glyphicon-phone"></i> <label for="">&nbsp; Téléphone : </label>
                            <input value="{{ user.profil.tel }} " class="form-control" name="telephoneProfile">
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="fa fa-male"></i> / <i class="fa fa-female"></i> <label for=""> &nbsp;Civilité : </label>
                            <input  class="form-control" name="civilite" value="{{ user.profil.civilité }}">
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="glyphicon glyphicon-hand-right"></i> <label for=""> &nbsp;Fonction : </label>
                            <select class="form-control" name="fonction" >
                                <option value="">-----</option>
                                {% for item in fonction %}
                                    {% if user.profil.fonction == item.fonction %}
                                        <option value="{{ item.fonction}}" selected>{{ item.fonction }}</option>
                                    {% else %}
                                        <option value="{{ item.fonction}}" >{{ item.fonction }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="glyphicon glyphicon-hand-right"></i><label for=""> &nbsp;Service : </label>
                            <select class="form-control" name="service" >
                                <option value="">-----</option>
                                {% for item in service %}

                                    {% if user.profil.service == item.service %}
                                        <option value="{{ item.service }}" selected>{{ item.service }}</option>
                                    {% else %}
                                        <option value="{{ item.service }}" >{{ item.service }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="fa fa-map"></i><label for=""> &nbsp; Pays : </label>
                            <select class="form-control" name="paysProfile" >
                                <option value=""> ----- </option>
                                <option value="Maroc">Maroc</option>
                                {% for item in pays %}
                                    <option value="{{ item.id }}">{{ item.pays }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="fa fa-map-signs"></i><label for=""> &nbsp; Ville :</label>
                            <input value="{{ user.profil.ville }}" class="form-control" name="villeProfile">
                        </div>

                        <div class="form-group col-md-6">
                            <i class="fa fa-map-marker"></i><label for="">&nbsp; Adresse : </label>
                            <input class="form-control" value="{{ user.profil.adresse_profile }}" name="adresse_profile">
                        </div>
                    </div>
                </div>

                <div class="card col-md-11 bo" >
                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <i class="fa fa-vcard-o"></i> <label for="">&nbsp; Raison social : </label>
                            <input value="{{ user.profil.entreprise.raison_social }}" class="form-control" name="RaisonSociale">
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="fa fa-vcard"></i> <label for="">&nbsp; Registre commerce : </label>
                            <input value="{{ user.profil.entreprise.registre_commerce }}" class="form-control" name="nrc">
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="fa fa-line-chart"></i> <label for="">&nbsp; Activité : </label>
                            <input value="{{ user.profil.entreprise.activite }}" class="form-control" name="activite">
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="glyphicon glyphicon-hand-right"></i> <label for="">&nbsp; Secteur d'activité : </label>
                            <select class="form-control" name="Secteur" >
                                <option value=""> ----- </option>
                                {% if user.profil.entreprise.secteurActivite == "Public" %}
                                    <option value="Public" selected>Public</option>
                                    <option value="Privé">Privé</option>
                                {% else %}
                                    <option value="Public">Public</option>
                                    <option value="Privé" selected>Privé</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="glyphicon glyphicon-phone-alt"></i> <label for="">&nbsp;tel-Fix :  </label>
                            <input  name="telephoneEntreprise" class="form-control" value="{{ user.profil.entreprise.telephone }}">
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="fa fa-map"></i> <label for=""> &nbsp; Pays : </label>
                            <select class="form-control" name="paysEntreprise" >
                                <option value="">-----</option>
                                <option value="Maroc">Maroc</option>
                                {% for item in pays %}
                                    <option value="{{ item.id }}">{{ item.pays }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-md-6 ">
                            <i class="fa fa-map-signs"></i><label for="">&nbsp; Ville :  </label>
                            <input name="villeEntreprise"  class="form-control" value="{{ user.profil.entreprise.ville }}">
                        </div>

                        <div class="form-group col-md-6">
                            <i class="fa fa-map-marker"></i><label for="">&nbsp;Adresse : </label>
                            <input class="form-control" value="{{ user.profil.entreprise.adresse_Entreprise }}" name="adresseEntreprise">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>

        <br><br>
        <!-- STRAT SCROLL TO TOP -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

{% endblock content %}


{% block scripts %}
    {{ block.super }}
        <script src="{% static "appelsOffres/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %} "></script>
        <script src="{% static "appelsOffres/assets/js/vendor/jquery-1.11.2.min.js" %} "></script>
        <script src="{% static "appelsOffres/assets/js/vendor/bootstrap.min.js" %} "></script>
        <script src="{% static "appelsOffres/assets/js/jquery.easypiechart.min.js" %} "></script>

        <script src="{% static "appelsOffres/assets/js/plugins.js" %} "></script>
        <script src="{% static "appelsOffres/assets/js/main.js " %} "></script>

        <script>
        $(function () {
                var v1 = 1;
                var v2 = 1;


                $('#nouveauPassword').keyup(function(){
                    $('#nouveauPassword').filter(function(){
                        nouveauPassword=$('#nouveauPassword').val();
                        nouveauPasswordReg = /^[a-zA-Z0-9]{8,}$/;

                        if( !nouveauPasswordReg.test( nouveauPassword ) ) {
                            $('#nouveauPasswordlabel').css({"color":"red"});
                            v1 = 1;
                        }else{
                            $('#nouveauPasswordlabel').css({"color":"green"});
                            v1 = 0;
                        }
                    });
                });

                $('#confirmationPassword').keyup(function(){
                    $('#confirmationPassword').filter(function(){
                        confirmationPassword=$('#confirmationPassword').val();
                        nouveauPassword=$('#nouveauPassword').val();

                        if( confirmationPassword != nouveauPassword ) {
                            $('#confirmationPasswordlabel').css({"color":"red"});
                            v2 = 1;
                        }else{
                            $('#confirmationPasswordlabel').css({"color":"green"});
                            v2 = 0;
                        }
                    });
                });



                $("#valide").click(function () {
                    var v = (v1+v2);

                    if (v == 0) {
                        alert(v);
                        return true;
                    }else {
                        alert(v);
                        alert("Corrige tous ce qui est en rouge, Merci !");
                        return false;
                    }
                });

            });


        </script>

{% endblock scripts %}


