{% extends 'ecommerce/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="{% url 'e_commerce:index' %}">Accueil</a></li>
        <li><a href="#">Administration</a></li>
        <li><a href="#"><b>Tous les Commandes</b></a></li>
    </ul>
    <h2 class="title">Tous les Commandes</h2>
    <div class="product-filter product-filter-top filters-panel" style="margin-top: 0">
        <div class="row">
            <div class="col-lg-0 col-md-3 col-sm-3 col-xs-12 view-mode"></div>
            <div class="short-by-show form-inline text-right col-lg-4 col-md-9 col-sm-12 col-xs-12">
                <div class="form-group short-by">
                {# ------------------------------ Sort By -------------------------------------- #}
                    <form style="display: inline;" method="post" action="{% url 'e_commerce:processing_orders' %}" id="form_sort_by">
                        {% csrf_token %}
                        {% if number_elements %}
                            <input type="hidden" name="number_elements" value="{{ number_elements }}" />
                        {% endif %}

                        <select title="sort" id="input-sort" class="form-control" name="sort_by">
                            {% if sort_by %}
                                {% if sort_by == "1" %}
                                    <option value="1" selected="selected">Trier Par Défaut</option>
                                {% else %}
                                    <option value="1">Trier Par Défaut</option>
                                {% endif %}
                                {% if sort_by == "2" %}
                                    <option value="2" selected="selected">Trier Par ID (0 - 9)</option>
                                {% else %}
                                    <option value="2">Trier Par ID (0 - 9)</option>
                                {% endif %}
                                {% if sort_by == "3" %}
                                    <option value="3" selected="selected">Trier Par ID (9 - 0)</option>
                                {% else %}
                                    <option value="3">Trier Par ID (9 - 0)</option>
                                {% endif %}
                                {% if sort_by == "4" %}
                                    <option value="4" selected="selected">Trier Par Montant (Bas &gt; Elevé)</option>
                                {% else %}
                                    <option value="4">Trier Par Montant (Bas &gt; Elevé)</option>
                                {% endif %}
                                {% if sort_by == "5" %}
                                    <option value="5" selected="selected">Trier Par Montant (Elevé &gt; Bas)</option>
                                {% else %}
                                    <option value="5">Trier Par Montant (Elevé &gt; Bas)</option>
                                {% endif %}
                                {% if sort_by == "6" %}
                                    <option value="6" selected="selected">Trier Par Date (Nouveau)</option>
                                {% else %}
                                    <option value="6">Trier Par Date (Nouveau)</option>
                                {% endif %}
                                {% if sort_by == "7" %}
                                    <option value="7" selected="selected">Trier Par Date (Ancien)</option>
                                {% else %}
                                    <option value="7">Trier Par Date (Ancien)</option>
                                {% endif %}
                            {% else %}
                                <option value="1" selected="selected">Trier Par Défaut</option>
                                <option value="2">Trier Par ID (0 - 9)</option>
                                <option value="3">Trier Par ID (9 - 0)</option>
                                <option value="4">Trier Par Montant (Bas &gt; Elevé)</option>
                                <option value="5">Trier Par Montant (Elevé &gt; Bas)</option>
                                <option value="6">Trier Par Date (Nouveau)</option>
                                <option value="7">Trier Par Date (Ancien)</option>
                            {% endif %}
                        </select>
                        <button type="submit" class="btn btn-group"><i class="fa fa-long-arrow-down"></i></button>
                    </form>
                {# ---------------------------------------------------------------------------- #}
                </div>
                <div class="form-group">
                {# ------------------------------ Number elements -------------------------------------- #}
                    <label for="input-limit"><span class="control-label">Show:</span></label>
                    <form style="display: inline;" method="post" action="{% url 'e_commerce:processing_orders' %}" id="form_number_elements">
                        {% csrf_token %}
                        {% if sort_by %}
                            <input type="hidden" name="sort_by" value="{{ sort_by }}" />
                        {% endif %}
                        <select id="input-limit" title="number elements" name="number_elements" class="form-control" onchange="document.getElementById('form_number_elements').submit();">
                            {% if number_elements %}
                                {% if number_elements == "15" %}
                                    <option value="15" selected="selected">15</option>
                                {% else %}
                                    <option value="15">15</option>
                                {% endif %}
                                {% if number_elements == "25" %}
                                    <option value="25" selected="selected">25</option>
                                {% else %}
                                    <option value="25">25</option>
                                {% endif %}
                                {% if number_elements == "50" %}
                                    <option value="50" selected="selected">50</option>
                                {% else %}
                                    <option value="50">50</option>
                                {% endif %}
                                {% if number_elements == "75" %}
                                    <option value="75" selected="selected">75</option>
                                {% else %}
                                    <option value="75">75</option>
                                {% endif %}
                                {% if number_elements == "100" %}
                                    <option value="100" selected="selected">100</option>
                                {% else %}
                                    <option value="100">100</option>
                                {% endif %}
                            {% else %}
                                <option value="15" selected="selected">15</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                            {% endif %}
                        </select>
                    </form>
                {# --------------------------------------------------------------------- #}
                </div>
            </div>
            <div class="box-pagination col-lg-4 col-md-12 col-sm-12 col-xs-12 text-right">
            {# ------------------------------ Pagination -------------------------------------- #}
            {% if orders.has_other_pages %}
                <div class="content-pagination-2 col-md-11">
                    <span>Page: </span>
                    <ul class="pagination1">
                        {# --------------------------------- previous -------------------------------------------- #}
                        {% if orders.has_previous %}
                        <form style="display: inline"  method="post" action="{% url 'e_commerce:processing_orders' %}" id="form_previous1">
                        {% csrf_token %}
                        {% if sort_by %}
                            <input type="hidden" name="sort_by" value="{{ sort_by }}" />
                        {% endif %}
                        {% if number_elements %}
                            <input type="hidden" name="number_elements" value="{{ number_elements }}" />
                        {% endif %}
                        <input type="hidden" name="page" value="{{ orders.previous_page_number }}">
                        <li><a href="javascript:" onclick="document.getElementById('form_previous1').submit();" ><i class="fa fa-caret-left"></i></a></li>
                        </form>
                        {% endif %}
                        {# ----------------------------------------------------------------------------- #}
                        {#--------------------------------- numbers ------------------------------------ #}
                        {% for i in page_range %}
                        <form style="display: inline" method="post" action="{% url 'e_commerce:processing_orders' %}" id="form1-{{ i }}">
                        {% csrf_token %}
                        {% if orders.number == i %}
                            <li class="active"><span><b>{{ i }}</b><span class="sr-only">(Actuel)</span></span></li>
                        {% else %}
                            {% if sort_by %}
                                <input type="hidden" name="sort_by" value="{{ sort_by }}" />
                            {% endif %}

                            {% if number_elements %}
                                <input type="hidden" name="number_elements" value="{{ number_elements }}" />
                            {% endif %}
                            <input type="hidden" name="page" value="{{ i }}" />
                            <li><a  href="javascript:" onclick="document.getElementById('form1-{{ i }}').submit();" >{{ i }}</a></li>
                        {% endif %}
                        </form>
                        {% endfor %}
                        {# -------------------------------------------------------------------------------- #}
                        {# --------------------------------------- Next ----------------------------------- #}
                        {% if orders.has_next %}
                        <form style="display: inline"  method="post" action="{% url 'e_commerce:processing_orders' %}" id="form_next1">
                        {% csrf_token %}
                        {% if sort_by %}
                            <input type="hidden" name="sort_by" value="{{ sort_by }}" />
                        {% endif %}

                        {% if number_elements %}
                            <input type="hidden" name="number_elements" value="{{ number_elements }}" />
                        {% endif %}
                        <input type="hidden" name="page" value="{{ orders.next_page_number }}">
                        <li><a href="javascript:" onclick="document.getElementById('form_next1').submit();" ><i class="fa fa-caret-right"></i></a></li>
                        </form>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            {# -------------------------------------------------------------------- #}
            </div>
        </div>
    </div>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-center">ID Commande</td>
                            <td class="text-center">Date D'ajout</td>
                            <td class="text-center">Statut</td>
                            <td class="text-center">Méthode de Paiement</td>
                            <td class="text-center">Méthode de Livraison</td>
                            <td class="text-center">Commentaire</td>
                            <td class="text-center">Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td class="text-center"><b>#{{ order.pk }}</b></td>
                            <td class="text-center">{{ order.date }}</td>
                            <td class="text-center">{{ order.status }}</td>
                            <td class="text-center">{{ order.payment_method }}</td>
                            <td class="text-center">{{ order.delivery_method }}</td>
                            <td class="text-center">{{ order.comment }}</td>
                            <td class="text-center">{{ order.amount }} Dh</td>
                            <td class="text-center">
                                <a class="btn btn-info" title="" data-toggle="tooltip" href="{% url 'e_commerce:order_information' order.pk %}" data-original-title="View">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-right">
                                <b>Total</b>
                            </td>
                            <td>
                                {{ total|intcomma }} Dh
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--Middle Part End-->
    </div>
    <div class="product-filter product-filter-top filters-panel" style="margin-top: 0">
        <div class="row">
            <div class="col-lg-0 col-md-3 col-sm-3 col-xs-12 view-mode"></div>
            <div class="short-by-show form-inline text-right col-lg-4 col-md-9 col-sm-12 col-xs-12">
                <div class="form-group short-by">
                {# ------------------------------ Sort By -------------------------------------- #}
                    <form style="display: inline;" method="post" action="{% url 'e_commerce:processing_orders' %}" id="form_sort_by_2">
                        {% csrf_token %}
                        {% if number_elements %}
                            <input type="hidden" name="number_elements" value="{{ number_elements }}" />
                        {% endif %}

                        <select title="sort" id="input-sort" class="form-control" name="sort_by">
                            {% if sort_by %}
                                {% if sort_by == "1" %}
                                    <option value="1" selected="selected">Trier Par Défaut</option>
                                {% else %}
                                    <option value="1">Trier Par Défaut</option>
                                {% endif %}
                                {% if sort_by == "2" %}
                                    <option value="2" selected="selected">Trier Par ID (0 - 9)</option>
                                {% else %}
                                    <option value="2">Trier Par ID (0 - 9)</option>
                                {% endif %}
                                {% if sort_by == "3" %}
                                    <option value="3" selected="selected">Trier Par ID (9 - 0)</option>
                                {% else %}
                                    <option value="3">Trier Par ID (9 - 0)</option>
                                {% endif %}
                                {% if sort_by == "4" %}
                                    <option value="4" selected="selected">Trier Par Montant (Bas &gt; Elevé)</option>
                                {% else %}
                                    <option value="4">Trier Par Montant (Bas &gt; Elevé)</option>
                                {% endif %}
                                {% if sort_by == "5" %}
                                    <option value="5" selected="selected">Trier Par Montant (Elevé &gt; Bas)</option>
                                {% else %}
                                    <option value="5">Trier Par Montant (Elevé &gt; Bas)</option>
                                {% endif %}
                                {% if sort_by == "6" %}
                                    <option value="6" selected="selected">Trier Par Date (Nouveau)</option>
                                {% else %}
                                    <option value="6">Trier Par Date (Nouveau)</option>
                                {% endif %}
                                {% if sort_by == "7" %}
                                    <option value="7" selected="selected">Trier Par Date (Ancien)</option>
                                {% else %}
                                    <option value="7">Trier Par Date (Ancien)</option>
                                {% endif %}
                            {% else %}
                                <option value="1" selected="selected">Trier Par Défaut</option>
                                <option value="2">Trier Par ID (0 - 9)</option>
                                <option value="3">Trier Par ID (9 - 0)</option>
                                <option value="4">Trier Par Montant (Bas &gt; Elevé)</option>
                                <option value="5">Trier Par Montant (Elevé &gt; Bas)</option>
                                <option value="6">Trier Par Date (Nouveau)</option>
                                <option value="7">Trier Par Date (Ancien)</option>
                            {% endif %}
                        </select>
                        <button type="submit" class="btn btn-group"><i class="fa fa-long-arrow-down"></i></button>
                    </form>
                {# ---------------------------------------------------------------------------- #}
                </div>
                <div class="form-group">
                {# ------------------------------ Number elements -------------------------------------- #}
                    <label for="input-limit"><span class="control-label">Show:</span></label>
                    <form style="display: inline;" method="post" action="{% url 'e_commerce:processing_orders' %}" id="form_number_elements_2">
                        {% csrf_token %}
                        {% if sort_by %}
                            <input type="hidden" name="sort_by" value="{{ sort_by }}" />
                        {% endif %}
                        <select id="input-limit" title="number elements" name="number_elements" class="form-control" onchange="document.getElementById('form_number_elements_2').submit();">
                            {% if number_elements %}
                                {% if number_elements == "15" %}
                                    <option value="15" selected="selected">15</option>
                                {% else %}
                                    <option value="15">15</option>
                                {% endif %}
                                {% if number_elements == "25" %}
                                    <option value="25" selected="selected">25</option>
                                {% else %}
                                    <option value="25">25</option>
                                {% endif %}
                                {% if number_elements == "50" %}
                                    <option value="50" selected="selected">50</option>
                                {% else %}
                                    <option value="50">50</option>
                                {% endif %}
                                {% if number_elements == "75" %}
                                    <option value="75" selected="selected">75</option>
                                {% else %}
                                    <option value="75">75</option>
                                {% endif %}
                                {% if number_elements == "100" %}
                                    <option value="100" selected="selected">100</option>
                                {% else %}
                                    <option value="100">100</option>
                                {% endif %}
                            {% else %}
                                <option value="15" selected="selected">15</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                            {% endif %}
                        </select>
                    </form>
                {# --------------------------------------------------------------------- #}
                </div>
            </div>
            <div class="box-pagination col-lg-4 col-md-12 col-sm-12 col-xs-12 text-right">
            {# ------------------------------ Pagination -------------------------------------- #}
            {% if orders.has_other_pages %}
                <div class="content-pagination-2 col-md-11">
                    <span>Page: </span>
                    <ul class="pagination1">
                        {# --------------------------------- previous -------------------------------------------- #}
                        {% if orders.has_previous %}
                        <form style="display: inline"  method="post" action="{% url 'e_commerce:processing_orders' %}" id="form_previous2">
                        {% csrf_token %}
                        {% if sort_by %}
                            <input type="hidden" name="sort_by" value="{{ sort_by }}" />
                        {% endif %}
                        {% if number_elements %}
                            <input type="hidden" name="number_elements" value="{{ number_elements }}" />
                        {% endif %}
                        <input type="hidden" name="page" value="{{ orders.previous_page_number }}">
                        <li><a href="javascript:" onclick="document.getElementById('form_previous2').submit();" ><i class="fa fa-caret-left"></i></a></li>
                        </form>
                        {% endif %}
                        {# ----------------------------------------------------------------------------- #}
                        {#--------------------------------- numbers ------------------------------------ #}
                        {% for i in page_range %}
                        <form style="display: inline" method="post" action="{% url 'e_commerce:processing_orders' %}" id="form2-{{ i }}">
                        {% csrf_token %}
                        {% if orders.number == i %}
                            <li class="active"><span><b>{{ i }}</b><span class="sr-only">(Actuel)</span></span></li>
                        {% else %}
                            {% if sort_by %}
                                <input type="hidden" name="sort_by" value="{{ sort_by }}" />
                            {% endif %}

                            {% if number_elements %}
                                <input type="hidden" name="number_elements" value="{{ number_elements }}" />
                            {% endif %}
                            <input type="hidden" name="page" value="{{ i }}" />
                            <li><a  href="javascript:" onclick="document.getElementById('form2-{{ i }}').submit();" >{{ i }}</a></li>
                        {% endif %}
                        </form>
                        {% endfor %}
                        {# -------------------------------------------------------------------------------- #}
                        {# --------------------------------------- Next ----------------------------------- #}
                        {% if orders.has_next %}
                        <form style="display: inline"  method="post" action="{% url 'e_commerce:processing_orders' %}" id="form_next2">
                        {% csrf_token %}
                        {% if sort_by %}
                            <input type="hidden" name="sort_by" value="{{ sort_by }}" />
                        {% endif %}

                        {% if number_elements %}
                            <input type="hidden" name="number_elements" value="{{ number_elements }}" />
                        {% endif %}
                        <input type="hidden" name="page" value="{{ orders.next_page_number }}">
                        <li><a href="javascript:" onclick="document.getElementById('form_next2').submit();" ><i class="fa fa-caret-right"></i></a></li>
                        </form>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            {# -------------------------------------------------------------------- #}
            </div>
        </div>
    </div>
</div>
{% endblock %}