<!DOCTYPE html>
{% load static coma_dot %}
{% load humanize %}
<html lang="en">
<head>
    <!-- Basic page needs ============================================ -->
    <title>BestShop - Multipurpose Responsive HTML5 Template</title>
    <meta charset="utf-8">
    <meta name="keywords" content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates" />
    <meta name="description" content="BestShop is a powerful Multi-purpose HTML5 Template with clean and user friendly design. It is definite a great starter for any eCommerce web project." />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

    <!-- Mobile specific metas ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Libs CSS ============================================ -->
    <link href="{% static 'ecommerce/css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/css/themecss/lib.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/js/minicolors/miniColors.css' %}" rel="stylesheet">

    <!-- Theme CSS ============================================ -->
    <link href="{% static 'ecommerce/css/themecss/so_searchpro.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/css/themecss/so_megamenu.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/css/themecss/so-categories.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/css/themecss/so-listing-tabs.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/css/themecss/so-newletter-popup.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/css/footer/footer4.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/css/header/header4.css' %}" rel="stylesheet">
    <link href="{% static 'ecommerce/css/theme.css' %}" id="color_scheme" rel="stylesheet">
    <link href="{% static 'ecommerce/css/responsive.css' %}" rel="stylesheet">

     <!-- Google web fonts ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
         body{font-family:'Roboto', sans-serif}
    </style>
</head>

<body class="res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
    <!-- Main Container  -->
        <div class="main-container container">
            <div class="row">
                 <!--Middle Part Start-->
                <div id="content" class="col-md-12 col-sm-12">
                    <div class="product-view row quickview-w">
                        <div class="left-content-product">
                            <div class="content-product-left class-honizol col-md-4 col-sm-12 col-xs-12">
                                <div class="large-image" style="padding: 0; text-align: center;">
                                    <img class="col-md-12 product-image-zoom" height="400px" itemprop="image"  src="{{ product.image.url }}" data-zoom-image="{{ product.image.url }}" title="{{ product.name }}" alt="Image {{ product.name }}">
                                </div>
                                <div id="thumb-slider" class="yt-content-slider full_slider owl-drag" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="10" data-items_column0="4" data-items_column1="3" data-items_column2="4"  data-items_column3="4" data-items_column4="3" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                    <a data-index="0" class="img thumbnail" data-image="{{ product.image.url }}" title="{{ product.name }}">
                                    <img src="{{ product.image.url }}" title="{{ product.name }}" alt="Image {{ product.name }}">
                                    </a>
                                {% if product.commerceimage_set.exists %}
                                {% for image in product.commerceimage_set.all %}
                                    <a data-index="{{ forloop.counter }}" class="img thumbnail " data-image="{{ image.image.url }}" title="{{ image.product.name }}" >
                                    <img src="{{ image.image.url }}" title="{{ image.product.name }}" alt="Image {{ image.product.name }}" >
                                    </a>
                                {% endfor %}
                                {% endif %}
                                </div>
                                {% if sale %}
                                    <div class="box-label"><span class="label-product label-sale"> -{{ sale.percentage }}%</span></div>
                                {% endif %}
                                {% if new %}
                                    <div class="box-label"> <span class="label-product label-new"> New </span></div>
                                {% endif %}
                            </div>
                            <div class="content-product-right col-md-8 col-sm-12 col-xs-12">
                                <div class="title-product">
                                    <h1 style="display: inline-block;">{{ product.name }}</h1>
                                    <span class="vue" style="display: inline-block;background: #333;color: #FFF;padding: 3px 10px;border-radius: 4px;margin-bottom: 3px;font-size: 11px;margin-left: 8px;">
                                        {{ product.number_views }} <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                                <!-- Review -->
                                <div class="box-review form-group">
                                    <div class="ratings">
                                    {% if ratting %}
                                    {% for i in "*****" %}
                                        {% if forloop.counter <= ratting %}
                                           <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        {% elif forloop.counter == ratting|add:"1" and rattingInt < ratting %}
                                            <span class="fa fa-stack">
                                                <i style="color: #ea4c0f" class="fa fa-star-half-empty fa-stack-2x"></i>
                                            </span>
                                        {% else %}
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <div class="rating-box">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    {% endif %}
                                    </div>
                                    <a class="reviews_button" href="#">{{ product.commerceratting_set.count }} revues</a>
                                </div>
                                <div class="product-label form-group">
                                    <div class="product_page_price price" itemprop="offerDetails" itemscope="" style="float: left">
                                    {% if sale %}
                                        {% if product.old_price %}
                                            <span class="price-old">
                                                {{ product.old_price|intcomma }}
                                            </span>
                                        {% else %}
                                            <span class="price-old" id="price_old_1">
                                                {{ product.price|intcomma }} Dh
                                            </span>
                                        {% endif %}
                                        {% if product.price_from %}
                                            <span class="price-new">
                                                <span style="font-size: 10px">À PARTIR DE</span>
                                            </span>
                                        {% endif %}
                                        <span class="price-new" id="price_new_1" itemprop="price">
                                            {{ sale.new_price|intcomma }} Dh
                                        </span>
                                    {% else %}
                                        {% if product.old_price %}
                                            <span class="price-old">
                                                {{ product.old_price|intcomma }} Dh
                                            </span>
                                        {% endif %}
                                        {% if product.price_from %}
                                            <span class="price-new">
                                                <span style="font-size: 10px">À PARTIR DE</span>
                                            </span>
                                        {% endif %}
                                        <span class="price-new" id="price_new_2" itemprop="price">
                                            {{ product.price|intcomma }}
                                        </span>
                                    {% endif %}
                                    </div><div>&nbsp;&nbsp;<b>/{{ product.unit }}</b></div>
                                </div>
                                <div class="stock">
                                    {% if not product.price_from %}
                                        {% if quantity == 0 %}
                                            <span class="bg-danger">En rupture de stock</span>
                                        {% else %}
                                            <span class="status-stock">En Stock</span>
                                        {% endif %}
                                    {% endif %}
                                    <span class="code-product">code du produit : <b>{{ product.pk }}</b></span>
                                </div>
                                <br>
                                {% if not product.price_from %}
                                <div class="item-available">
                                    <div class="row">
                                        <p class="col-xs-4 a1">Disponibilité: <b>{{ quantity }}</b>
                                        </p>
                                        <p class="col-xs-4 a2">Vendu: <b>{{ sold }}</b>
                                        </p>
                                    </div>
                                    {% if percent > 80 %}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ percent|coma_dot }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ percent|coma_dot }}%"></div>
                                    </div>
                                    {% elif percent > 60 %}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{ percent|coma_dot }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ percent|coma_dot }}%"></div>
                                    </div>
                                    {% elif percent > 40 %}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{ percent|coma_dot }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ percent|coma_dot }}%"></div>
                                    </div>
                                    {% elif percent > 20 %}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ percent|coma_dot }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ percent|coma_dot }}%"></div>
                                    </div>
                                    {% else %}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{ percent|coma_dot }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ percent|coma_dot }}%"></div>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if product.brand %}
                                    <div class="brand-product">
                                    {% if product.brand.image != "" %}
                                        <span>Produit Par : </span>
                                        <a href="{% url 'e_commerce:products' 'brand' product.brand.pk %}"><img style="margin-left: 10px" width="80px" height="40px" src="{{ product.brand.image.url }}" alt="Brand {{ product.brand.name }}"></a>
                                    {% else %}
                                        <a href="{% url 'e_commerce:products' 'brand' product.brand.pk %}"><b>{{ product.brand.name }}</b></a>
                                    {% endif %}
                                    </div>
                                {% endif %}
                                <div class="short_description form-group">
                                {% if product.quantity_min > 1 %}
                                    <b>{{ product.quantity_min }}</b> {{ product.unit }} (Commande min)
                                {% else %}
                                    <b>1</b> {{ product.unit }} (Commande min)
                                {% endif %}
                                </div>
                                <div id="product">
                                    {% if product.stock_set.exists %}
                                        {% if product.stock_set.count == 1 and product.stock_set.first.color.name == "None" %}
                                            <input onchange="change_price({{ product.price }},{{ stock.price_sup }}, {{ sale.percentage }});" type="hidden" name="option[231]" value="0">
                                        {% else %}
                                            <div class="image_option_type form-group required">
                                                <label>Colors</label>
                                                <ul class="product-options clearfix" id="input-option231">
                                                    {% for stock in product.stock_set.all %}
                                                        {% if stock.color.name == "None"%}
                                                        <li class="radio">
                                                            <label>{{ produt.stock_set.0.color.name  }}
                                                                <input onchange="change_price({{ product.price }},{{ stock.price_sup }}, {{ sale.percentage }});" class="image_radio" type="radio" name="option[231]" value="{{ stock.color.pk }}"> <img src="{% static 'ecommerce/image/none.png' %}" data-original-title="Original" class="img-thumbnail icon icon-color">
                                                                <i class="fa fa-check"></i>
                                                                <label></label>
                                                            </label>
                                                        </li>
                                                        {% else %}
                                                        <li class="radio">
                                                            <label>
                                                                <input onchange="change_price({{ product.price }},{{ stock.price_sup }}, {{ sale.percentage }});" class="image_radio" type="radio" name="option[231]" value="{{ stock.color.pk }}"> <img style="background-color: {{ stock.color.code_hex }}" data-original-title="{{ stock.color.name }} +${{ stock.price_sup|intcomma }}" class="img-thumbnail icon icon-color">
                                                                <i class="fa fa-check"></i>
                                                                <label></label>
                                                            </label>
                                                        </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <li class="selected-option">
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="form-group box-info-product">
                                        <div class="option quantity">
                                            <label class="hidden-xs">
                                                Quantité
                                                {% if product.quantity_min > 1 %}(<b>{{ product.quantity_min }}</b> Min){% endif %} :
                                            </label>
                                            <div class="input-group quantity-control" style="-webkit-user-select: none;">
                                                <input title="quantité" class="form-control" type="text" name="quantity" value="{{ product.quantity_min }}">
                                                <input type="hidden" name="product_id" value="{{ product.pk }}">
                                                <span class="input-group-addon product_quantity_down">−</span>
                                                <span class="input-group-addon product_quantity_up">+</span>
                                            </div>
                                        </div>
                                        <br><br><br>
                                        <div class="add-to-links wish_comp">
                                            <ul class="blank list-inline">
                                                <li>
                                                    <form id="formAddCart{{ product.pk }}" method="get" action="{% url 'e_commerce:add_to_cart' %}" data-validate-url="{% url 'e_commerce:add_to_cart' %}">
                                                        <input type="hidden" name="product" value="{{ product.pk }}">
                                                    </form>
                                                    {% if product.price_from %}

                                                    <a class="addToCart btn-button" href="{% url 'e_commerce:contact_supplier' product.pk %}" title="Contacter Fournisseur">
                                                        <i class="fa fa-envelope"></i>
                                                        <span>Contacter</span>
                                                    </a>
                                                    {% else %}
                                                    <a type="button" class="addToCart btn-button btn" title="Ajouter au Chariot" onclick="cart.add('{{ product.pk }}', '{{ user.is_authenticated }}', '{{ product.name }}', '{{ product.image.url }}', '{% url 'e_commerce:product' product.pk %}');">
                                                        <i class="fa fa-shopping-basket"></i>
                                                        <span>Ajouter au Chariot</span>
                                                    </a>
                                                    {% endif %}
                                                </li>
                                                <li class="compare">
                                                    <form id="formAddCompare{{ product.pk }}" method="get" action="{% url 'e_commerce:add_to_compare' %}" data-validate-url="{% url 'e_commerce:add_to_compare' %}">
                                                        <input type="hidden" name="product" value="{{ product.pk }}">
                                                    </form>
                                                    <a class="icon" data-toggle="tooltip" title="Comparer ce produit"
                                                        onclick="compare.add('{{ product.pk }}', '{{ user.is_authenticated }}', '{{ product.name }}', '{{ product.image.url }}', '{% url 'e_commerce:product' product.pk %}');" data-original-title="Compare this Product">
                                                        <i class="fa fa-exchange"></i>
                                                        <span>Comparer</span>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <form id="formAddWish{{ product.pk }}" method="get" action="{% url 'e_commerce:add_to_wish_list' %}" data-validate-url="{% url 'e_commerce:add_to_wish_list' %}">
                                                        <input type="hidden" name="product" value="{{ product.pk }}">
                                                    </form>
                                                    <a class="icon" data-toggle="tooltip" title="Ajouter au Souhaits"
                                                        onclick="compare.add('{{ product.pk }}', '{{ user.is_authenticated }}', '{{ product.name }}', '{{ product.image.url }}', '{% url 'e_commerce:product' product.pk %}');" >
                                                        <i class="fa fa-heart"></i>
                                                        <span>Souhaits</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- end box info product -->
                                <div class="content-product-bottom col-lg-12" style="margin-top: 20px;">
                                    <div class="row col-lg-12">
                                        <div class="col-lg-6 ">
                                            <div class="share">
                                                <span>Share: </span>
                                                <div class="icon-share">
                                                    <ul class="socials">
                                                        <li class="facebook"><a class="_blank" href="https://www.facebook.com/MagenTech" target="_blank"><i class="fa fa-facebook"></i></a>
                                                        </li>
                                                        <li class="twitter"><a class="_blank" href="https://twitter.com/smartaddons" target="_blank"><i class="fa fa-twitter"></i></a>
                                                        </li>
                                                        <li class="google_plus"><a class="_blank" href="https://plus.google.com/u/0/+Smartaddons/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                        </li>
                                                        <li class="pinterest"><a class="_blank" href="https://www.pinterest.com/smartaddons/" target="_blank"><i class="fa fa-skype"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                        {% if tags_p %}
                                            <div class="tags">
                                                <span>Tags: </span>
                                                <ul>
                                                    {% for tag in tags_p %}
                                                    <li><a href="{% url 'e_commerce:products' 'tag' tag.pk %}">{{ tag.name }}{% if forloop.last %}.{% else %}, {% endif %}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
             <!--Middle Part End-->
         </div>
         <!-- //Main Container -->
        <style type="text/css">
            #wrapper{box-shadow:none;}
            #wrapper > *:not(.main-container){display: none;}
            #content{margin:0}
            .container{width:100%;}

            .product-info .product-view,.left-content-product,.box-info-product{margin:0;}
            .left-content-product .content-product-right .box-info-product .cart input{padding:12px 16px;}

            .left-content-product .content-product-right .box-info-product .add-to-links{ width: auto;  float: none; margin-top: 0px; clear:none; }
            .add-to-links ul li{margin:0;}
        </style>
    </div>
    <script type="text/javascript" src="{% static 'ecommerce/js/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/themejs/libs.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/unveil/jquery.unveil.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/countdown/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/datetimepicker/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Theme files
    ============================================ -->
    <script type="text/javascript" src="{% static 'ecommerce/js/themejs/homepage.js' %}"></script>

    <script type="text/javascript" src="{% static 'ecommerce/js/themejs/so_megamenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/themejs/addtocart.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/themejs/application.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/themejs/main.js' %}"></script>
</body>
</html>