{% extends "SocialMedia/profil/base_profil.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ profil.user.username }} - Groupes{% endblock %}
{% block contentProfil %}

                         <!-- Filter Nav Start -->
                            <div class="filter--nav clearfix">
                            </div>
                            <!-- Filter Nav End -->

                            <!-- Box Items Start -->
                            <div class="box--items">
                                <div id="groupes" class="row gutter--15">
                                {% if profilGroupes %}
                                    {% for groupe in profilGroupes %}
                                            <div class="col-md-4 col-xs-6 col-xxs-12">
                                        <!-- Box Item Start -->
                                        <div class="box--item text-center">
                                            <a href="{% url 'SocialMedia:groupe' groupe.id %}" class="img" data-overlay="0.1">
                                                <img src="{{ groupe.photo_couverture.image.url|default:'/media/SocialMedia/default.jpg' }}" alt="">
                                            </a>

                                            <div class="info">
                                                <div class="icon fs--18 text-lightest ">
                                                <img class="img-circle" style="border: #1d89ff 1px solid;width: 50px;height: 50px;" src="{{ groupe.photo_profil.image.url|default:'/media/SocialMedia/default.jpg' }}" alt="">
                                                </div>

                                                <div class="title">
                                                    <h2 class="h6"><a href="{% url 'SocialMedia:groupe' groupe.id %}">{{ groupe.nom }}</a></h2>
                                                </div>

                                                <div class="meta">
                                                    <p><i class="fa mr--8 fa-user-o"></i>Groupe {{ groupe.statut_groupe }} / {{ groupe.adherents.all.count|add:groupe.admins.all.count|add:groupe.moderators.all.count  }} Members</p>
                                                </div>
                                                <div class="action">
                                                    <a href="{% url 'SocialMedia:groupe' groupe.id %}">{{ groupe.description }}<i class="fa ml--10 fa-caret-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Box Item End -->
                                    </div>
                                    {% endfor %}
                                {% else %}
                                     <h1 class="h4 fw--700 widget--title ">{{ msg }}</h1>
                                {% endif %}

                                </div>
                            </div>

                                    <div class="row text-center">
                                        <img id="loadingImage" style="display: none; width: 100%; object-fit: contain;" class="img-rounded"  src="{% static 'SocialMedia/loading.gif' %}" />
                                    </div>

                            <!-- Box Items End -->

                            <!-- Page Count Start -->
                            <div class="page--count pt--30">
                                <label class="ff--primary fs--14 fw--500 text-darker">
                                    <span>Viewing</span>
                                    {% if profilGroupes.has_previous %}
                                        <button id="btfirst" href="?page=1" class="btn-link"><i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i></button>
                                        <button id="btprevious" page="{{ profilGroupes.previous_page_number }}" class="btn-link"><i class="fa fa-caret-left"></i></button>
                                    {% else %}
                                        <button id="btfirst" href="1" class="btn-link"><i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i></button>
                                        <button id="btprevious" page="1" class="btn-link"><i class="fa fa-caret-left"></i></button>
                                    {% endif %}
                                        <input id="RequestsPageNum" type="number" name="page-count" value="{{ profilGroupes.number }}" class="form-control form-sm">
                                    {% if profilGroupes.has_next %}
                                        <button id="btnext" page="{{ profilGroupes.next_page_number }}" class="btn-link"><i class="fa fa-caret-right"></i></button>
                                        <button id="btlast" page="{{ profilGroupes.paginator.num_pages }}" class="btn-link"><i class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i></button>
                                    {% else %}
                                        <button id="btnext" page="{{ profilGroupes.paginator.num_pages }}" class="btn-link"><i class="fa fa-caret-right"></i></button>
                                        <button id="btlast" page="{{ profilGroupes.paginator.num_pages }}" class="btn-link"><i class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i></button>
                                    {% endif %}
                                        <span id="numPages">{{ profilGroupes.paginator.num_pages }}</span>

                                </label>
                            </div>
                            <!-- Page Count End -->


{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>
    {% if sont_ami %}
        $('.profil_links_menu li').removeClass('active');
        $('.profil_links_menu li:eq(2)').addClass('active');
    {% else %}
        $('.profil_links_menu li').removeClass('active');
        $('.profil_links_menu li:eq(1)').addClass('active');
    {% endif %}


    function printGroupes(data){
                    groupeURL = "{% url 'SocialMedia:groupe' 999999 %}".replace(999999, data[0]);
					NewData='<div class="col-md-4 col-xs-6 col-xxs-12"><!-- Box Item Start -->'+
                                       ' <div class="box--item text-center">'+
                                           '<a href='+groupeURL+' class="img" data-overlay="0.1">'+
                                               ' <img src="'+data[2]+'" alt="">'+
                                            '</a>'+
                                           '<div class="info">'+
                                                '<div class="icon fs--18 text-lightest ">'+
                                                '<img class="img-circle" style="border: #1d89ff 1px solid;width: 50px;height: 50px;" src="'+data[1]+'" alt="">'+
                                                '</div>'+
                                                '<div class="title">'+
                                                    '<h2 class="h6"><a href="'+groupeURL+'">'+data[4]+'</a></h2>'+
                                               ' </div>'+
                                                '<div class="meta">'+
                                                   ' <p><i class="fa mr--8 fa-clock-o"></i>Active Today</p>'+
                                                   ' <p><i class="fa mr--8 fa-user-o"></i>Groupe '+data[3]+' / '+data[6]+' Members</p>'+
                                                '</div>'+
                                                '<div class="desc text-darker">'+
                                                    '<p>Lorem Ipsum is simply dummy text of the printing &amp; typesetting.</p>'+
                                                '</div>'+
                                                '<div class="action">'+
                                                    '<a href="'+groupeURL+'">'+data[5]+'<i class="fa ml--10 fa-caret-right"></i></a>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                        '<!-- Box Item End --></div>';
            console.log(NewData);
           $("#groupes").append(NewData);

    }


    function getGroupes(page)
    {
        $.ajax({
        url: '{% url "SocialMedia:getProfilGroupes" profil.id %}',
        type: 'GET',
        data : {
            'page':page,
            'is_ajax_request': 1,
        },
        dataType: 'json',
        success: function(data) {
            if( data.statut ) {
                var i=1;
                console.log(data);
                    if( data.nbGroupes == 0)
                    {
                        $("#loadingImage").fadeIn(350, function() {
                            $("#groupes").html("<h2 class='h4 fw--700 widget--title'>"+data.msg+"</h2>");
                        });
                        $("#RequestsPageNum").val('1');
                        $("#nbGroupesBadge").text(data.nbGroupes);
                        //$("#nbDemandes").text(data.nbdemandes+' Demandes.');
                    }else{
                        $('#groupes').empty();
                        $("#loadingImage").fadeIn(350);
                            setTimeout(function () {
                            $.each(data.groupes,function(key, value){
                                    printGroupes(value);
                                    //$("#NbMembres").text(data.nbMembres+' Membres.');
                            });
                            },250);
                            $("#nbGroupesBadge").text(data.nbGroupes);
                            //$("#nbDemandes").text(data.nbdemandes+' Demandes.');
                            $("#btprevious").attr('page', data.previous_page_number);
                            $("#btnext").attr('page', data.next_page_number);
                            $("#btlast").attr('page', data.num_pages);
                            $("#RequestsPageNum").val(data.current_page);
                            $("#numPages").text(data.num_pages);
                            if( data.NumPagesExcessed )
                            {
                                $("#RequestsPageNum").text(data.num_pages);
                            }

                    }
            }else
                {
                    swal({
                      type: 'error',
                      title: 'Erreur',
                      text: 'Veuiller actualiser la page puis ressayer',
                    })
                }
        },
        complete: function()
        {
            $("#loadingImage").fadeOut(350);
            $('html, body').animate({
              scrollTop: $("#navTop").offset().top
            }, 500)
        },
        error: function() { },
        stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
            swal("Veuiller Verifier Votre Connexion Reseau Puis Ressayer", "Erreur Fatale", "error");
        }
    });
    }

    $("body").on('click', '#btfirst, #btprevious, #btnext, #btlast', function(event){
        event.preventDefault();
        pagenum=$(this).attr('page');
        getGroupes(pagenum);
    });

    $('#RequestsPageNum').on('keypress', function(e) {
        if(e.which == 13) {
         pageNum = $(this).val();
         getGroupes(pageNum);
        }
    });
</script>
{% endblock %}