{% extends 'authentification/base_authentification.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title} {{block.super}} - Redéfinir le mot de passe{% endblock title}

{% block form %}

<form class="login100-form validate-form" method="POST" >
    {% if form %}
    {% csrf_token %}

    <span class="login100-form-title"> Saisissez votre noveau mot de passe 	</span>

    {% include "messages.html" %}


    {% for error in form.new_password1.errors %}
        <span class="error-block">{{ error }}</span>
    {% endfor %}
    <div class="wrap-input100 validate-input" >
        {% render_field form.new_password1 class="input100" placeholder="Nouveau mot de passe" %}
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
    </div>

    {% for error in form.new_password2.errors %}
        <span class="error-block">{{ error }}</span>
    {% endfor %}
    <div class="wrap-input100 validate-input" >
        {% render_field form.new_password2 class="input100" placeholder="Confirmer le mot de passe" %}
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-key" aria-hidden="true"></i>
        </span>
    </div>






    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Continuer
        </button>
    </div>

    <div class="text-center p-t-12">


        <a class="txt2" href="/main/signup">
            Mot de passe oublié?
        </a>
        |
        <a class="txt2" href="/main/signup">
            S'inscrire
        </a>
    </div>

    {% else %}

    <div class="alert alert-info">Le lien utilisé a expiré , veuillez réenvoyer un lien en <a href="{% url 'main_app:password_reset' %}">cliquant ici</a></div>

    {% endif %}
</form>

{% endblock form %}