{% extends "SocialMedia/myprofil/base_myprofil.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ user.username }} - Media{% endblock %}
{% block contentProfil %}
                            <!-- Filter Nav Start -->
                            <div class="filter--nav pb--50 clearfix">
                                <div class="filter--links float--left">
                                    <ul class="nav ff--primary">
                                        <li class="active"><a href="#">All (350)</a></li>
                                        <li><a href="#">Album (3)</a></li>
                                        <li><a href="#">Photos (330)</a></li>
                                        <li><a href="#">Videos (5)</a></li>
                                        <li><a href="#">Music (15)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Filter Nav End -->

                            <!-- Gallery Header Start -->
                            <div class="gallery--header pb--15 clearfix">
                                <div class="gallery--title float--left">
                                    <h3 class="h3 fw--500 text-default">Media Gallery</h3>
                                </div>

                                <div class="gallery--upload-btn ff--primary float--right">
                                    <a href="#" class="btn btn-sm btn-default"><i class="mr--10 fa fa-cloud-upload"></i>Upload</a>
                                </div>
                            </div>
                            <!-- Gallery Header End -->

                            <!-- Gallery Items Start -->
                            <div class="gallery--items">
                                <div class="row gutter--15 AdjustRow">

                                    <div class="col-sm-3 col-xs-4 col-xxs-6 pt--15">
                                        <!-- Gallery Item Start -->
                                        <div class="gallery--item type--photo">
                                            <a data-toggle="modal" data-target="#mediaImgModal" data-overlay="0.1">
                                                <img src="{% static 'img/gallery-img/thumb-14.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <!-- Gallery Item End -->
                                    </div>


                                    <div class="col-sm-3 col-xs-4 col-xxs-6 pt--15">
                                        <!-- Gallery Item Start -->
                                        <div class="gallery--item type--photo">
                                            <a href="#mediaImgModal" data-toggle="modal" data-overlay="0.1">
                                                <img src="{% static 'img/gallery-img/thumb-14.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <!-- Gallery Item End -->
                                    </div>

                                    <div class="col-sm-3 col-xs-4 col-xxs-6 pt--15">
                                        <!-- Gallery Item Start -->
                                        <div class="gallery--item type--video">
                                            <a href="#mediaVideoModal" data-toggle="modal" data-overlay="0.1">
                                                <img src="{% static 'img/gallery-img/thumb-14.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <!-- Gallery Item End -->
                                    </div>

                                    <div class="col-sm-3 col-xs-4 col-xxs-6 pt--15">
                                        <!-- Gallery Item Start -->
                                        <div class="gallery--item type--photo">
                                            <a href="#mediaImgModal" data-toggle="modal" data-overlay="0.1">
                                                <img src="{% static 'img/gallery-img/thumb-14.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <!-- Gallery Item End -->
                                    </div>

                                </div>
                            </div>
                            <!-- Gallery Items End -->

                        <!-- Load More Button Start -->
                        <div class="load-more--btn pt--30 text-center">
                            <a href="#" class="btn btn-animate">
                                <span>See More Media<i class="fa ml--10 fa-caret-right"></i></span>
                            </a>
                        </div>
                        <!-- Load More Button End -->

{% endblock %}
{% block modals %}
    {{ block.super }}
     <!-- Media Modal Start -->
    <div class="media--modal type--img modal fade" id="mediaImgModal">
        <div class="modal-dialog">
            <div class="row gutter--0">
                <div class="col-md-8">
                    <!-- Media Image Start -->
                    <figure class="media--img">
                        <img src="{% static 'img/gallery-img/full-01.jpg' %}" alt="">

                        <p class="figcaption fs--14 fw--700 text-white">Lazy Fishing</p>
                    </figure>
                    <!-- Media Image End -->
                </div>

                <div class="col-md-4">
                    <!-- Media Details Start -->
                    <div class="media--details">
                        <!-- Media Close Button Start -->
                        <button type="button" class="close btn-link" data-dismiss="modal">&times;</button>
                        <!-- Media Close Button End -->

                        <!-- Media Author Start -->
                        <div class="media--author clearfix">
                            <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                <img src="{% static 'img/activity-img/avatar-01.jpg' %}" alt="">
                            </div>

                            <div class="media--author-info ov--h">
                                <p class="name fs--14 fw--700 text-darkest">Eileen K. Ruiz</p>
                                <p class="date">Yeasterday at 08:20 am<i class="ml--8 fa fa-globe"></i></p>
                            </div>
                        </div>
                        <!-- Media Author End -->

                        <!-- Media Meta Start -->
                        <div class="media--meta">
                            <ul class="nav">
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-hand-o-right"></i>
                                        <span>5k</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-comment-o"></i>
                                        <span>Show All 26 Comments</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Media Meta End -->

                        <!-- Media Comments Start -->
                        <div class="media--comments">
                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="{% static 'img/activity-img/avatar-02.jpg' %}" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Samantha B. Beatty</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="{% static 'img/activity-img/avatar-03.jpg' %}" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Barbara E. Weiss</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Beautiful Photo...</p>
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="{% static 'img/activity-img/avatar-05.jpg' %}" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Jeannette J. White</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>So cute</p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->
                        </div>
                        <!-- Media Comments End -->

                        <!-- Media All Comments Start -->
                        <div class="media--all-comments text-center">
                            <a href="#" class="btn-link">Show all comments</a>
                        </div>
                        <!-- Media All Comments End -->
                    </div>
                    <!-- Media Details End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Media Modal End -->

    <!-- Media Modal Start -->
    <div class="media--modal type--video modal fade" id="mediaVideoModal">
        <div class="modal-dialog">
            <div class="row gutter--0">
                <div class="col-md-8">
                    <!-- Media Video Start -->
                    <div class="media--video embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/YE7VzlLtp-4?showinfo=0&amp;controls=0&amp;rel=0&amp;wmode=transparent"></iframe>

                        <p class="figcaption fs--14 fw--700 text-white">Big Buck Bunny</p>
                    </div>
                    <!-- Media Video End -->
                </div>

                <div class="col-md-4">
                    <!-- Media Details Start -->
                    <div class="media--details">
                        <!-- Media Close Button Start -->
                        <button type="button" class="close btn-link" data-dismiss="modal">&times;</button>
                        <!-- Media Close Button End -->

                        <!-- Media Author Start -->
                        <div class="media--author clearfix">
                            <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                <img src="{% static 'img/activity-img/avatar-01.jpg' %}" alt="">
                            </div>

                            <div class="media--author-info ov--h">
                                <p class="name fs--14 fw--700 text-darkest">Eileen K. Ruiz</p>
                                <p class="date">Yeasterday at 08:20 am<i class="ml--8 fa fa-globe"></i></p>
                            </div>
                        </div>
                        <!-- Media Author End -->

                        <!-- Media Meta Start -->
                        <div class="media--meta">
                            <ul class="nav">
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-hand-o-right"></i>
                                        <span>5k</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-comment-o"></i>
                                        <span>Show All 26 Comments</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Media Meta End -->

                        <!-- Media Comments Start -->
                        <div class="media--comments">
                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="{% static 'img/activity-img/avatar-02.jpg' %}" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Samantha B. Beatty</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="{% static 'img/activity-img/avatar-03.jpg' %}" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Barbara E. Weiss</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Beautiful Photo...</p>
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="{% static 'img/activity-img/avatar-05.jpg' %}" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Jeannette J. White</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>So cute</p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->
                        </div>
                        <!-- Media Comments End -->

                        <!-- Media All Comments Start -->
                        <div class="media--all-comments text-center">
                            <a href="#" class="btn-link">Show all comments</a>
                        </div>
                        <!-- Media All Comments End -->
                    </div>
                    <!-- Media Details End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Media Modal End -->

    <!-- Media Modal Start -->
    <div class="media--modal type--audio modal fade" id="mediaAudioModal">
        <div class="modal-dialog">
            <div class="row gutter--0">
                <div class="col-md-8">
                    <!-- Media Audio Start -->
                    <div class="media--audio">
                        <audio src="{% static 'media/audio.mp3' %}" controls></audio>

                        <p class="figcaption fs--14 fw--700 text-white">Big Buck Bunny</p>
                    </div>
                    <!-- Media Audio End -->
                </div>

                <div class="col-md-4">
                    <!-- Media Details Start -->
                    <div class="media--details">
                        <!-- Media Close Button Start -->
                        <button type="button" class="close btn-link" data-dismiss="modal">&times;</button>
                        <!-- Media Close Button End -->

                        <!-- Media Author Start -->
                        <div class="media--author clearfix">
                            <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                <img src="{% static 'img/activity-img/avatar-01.jpg' %}" alt="">
                            </div>

                            <div class="media--author-info ov--h">
                                <p class="name fs--14 fw--700 text-darkest">Eileen K. Ruiz</p>
                                <p class="date">Yeasterday at 08:20 am<i class="ml--8 fa fa-globe"></i></p>
                            </div>
                        </div>
                        <!-- Media Author End -->

                        <!-- Media Meta Start -->
                        <div class="media--meta">
                            <ul class="nav">
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-hand-o-right"></i>
                                        <span>5k</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-comment-o"></i>
                                        <span>Show All 26 Comments</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Media Meta End -->

                        <!-- Media Comments Start -->
                        <div class="media--comments">
                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="{% static 'img/activity-img/avatar-02.jpg' %}" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Samantha B. Beatty</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="{% static 'img/activity-img/avatar-03.jpg' %}" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Barbara E. Weiss</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Beautiful Photo...</p>
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="{% static 'img/activity-img/avatar-05.jpg' %}" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Jeannette J. White</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>So cute</p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->
                        </div>
                        <!-- Media Comments End -->

                        <!-- Media All Comments Start -->
                        <div class="media--all-comments text-center">
                            <a href="#" class="btn-link">Show all comments</a>
                        </div>
                        <!-- Media All Comments End -->
                    </div>
                    <!-- Media Details End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Media Modal End -->
{% endblock %}
{% block scripts %}
    {{ block.super }}

{% endblock %}