{% load widget_tweaks %}
<div id="form_ajouter_experiences">
    <div class="modal fade" id="squarespace_ajouter_experience" tabindex="-1" role="dialog"
         aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Ajouter une expérience</h3>
                </div>

                <div class="actualized_form_ajouter_experience">
                    {% include 'SocialMedia/myprofil/forms/form_ajouter_experience.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
