{% extends 'base_qa.html' %}
{% load django_markdown %}
{% load static %}
 {% load staticfiles %} 
{% load crispy_forms_tags %}




{% block content %}

<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->

<div class="main-content-area">

    <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->


    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Post Question  =-=-=-=-=-=-= -->
    <section class="section-padding-80 white" id="post-question">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 ">

            <div class="box-panel">

              <h2>Post Your Question</h2>
              <p> </p>
              <hr>
              <!-- form login -->
              <form class="margin-top-40" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 <div class="form-group">
                  <!-- <input type="file" name="myfile"> -->
                  <label>Image Couverture</label>
                  {{ formimg.image }}
                </div>

                <div class="form-group">
                  <label>Titre</label>
                  <input name="blog_title" type="text" placeholder="Titre..." class="form-control">
                </div>
                <div class="form-group">
                  <label>Categories</label>
                  <!-- <select name="categorie" class="questions-category form-control chosen-container chosen-container-single">
                    <option value="0" disabled select>All Categories</option>
                    <option value="36">Php</option>
                  </select> -->
                  <select name="categorie" class="questions-category form-control chosen-container chosen-container-single">
                    <option value="0" disabled selected>select Categories</option>
                    {% for cat in categories %}
                      <option value="{{ cat.id }}" >{{ cat.title_categorie }}</option>
                    {% endfor %}
                  </select>


                </div>

                <input type="hidden" value="{{ user.id }}" name="user" />

                <div class="form-group">
                  <label>Tags</label>

                  <input name="tags" type="text" id="tags" placeholder="Ex : tag1,tag2...." class="form-control" data-role="tagsinput">
                </div>


                <div class="form-group " >
                  <label> Detials</label>
                  <div>
                  {{ form.media }}
                  {{ form.blog_text }}
                </div>
                </div>

                <button class="btn btn-primary pull-right">Publish Your Question</button>

              </form>
              <!-- form login -->

            </div>
          </div>

          <!-- Blog Right Sidebar -->
          <div class="col-sm-12 col-xs-12 col-md-4">

            <!-- sidebar -->
               <div class="side-bar">
            {% include 'qa/right_sidebar.html' %}
              </div>
            <!-- sidebar end -->

          </div>
          <!-- Blog Right Sidebar End -->
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Post QuestionEnd =-=-=-=-=-=-= -->



  </div>

<!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->

{% endblock content %}