    <!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->
    <section id="blog" class="custom-padding">
      <div class="container">
        <!-- title-section -->
        <div class="main-heading text-center">
          <h2>Latest Articles</h2>
          <div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
          </div>
          <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
            <br>eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
        </div>
        <!-- End title-section -->
        <!-- Row -->
        <div class="row">
          <!-- Blog Grid -->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="blog-grid">
              <div class="blog-image">
                <img alt="blog-image1" class="img-responsive" src="images/blog/1.jpg">
              </div>
              <div class="blog-content">
                <h5><a href="/qablog-detail.html">How to prevent my website from being scrolled horizontally?</a></h5>
                <ul class="post-meta">
                  <li>By Admin</li>
                  <li>Php</li>
                  <li>27 July 2016</li>
                </ul>
                <p>We can make table scrollable by adding table-responsive class to it, but how can we loop it so that once the loop ends..</p>
              </div>
              <div class="blog-footer">
                <ul class="like-comment">
                  <li><a href="/qa#"><i class="icon-heart"></i>23</a>
                  </li>
                  <li><a href="/qa#"><i class="icon-chat"></i>32</a>
                  </li>
                </ul> <a href="/qa#" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> MORE</a> 
              </div>
            </div>
          </div>
          <!-- Blog Grid -->
          <!-- Blog Grid -->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="blog-grid">
              <div class="blog-image">
                <img alt="blog-image1" class="img-responsive" src="images/blog/2.jpg">
              </div>
              <div class="blog-content">
                <h5><a href="/qablog-detail.html">What's the best way to implement a 2D interval search in C++?</a></h5>
                <ul class="post-meta">
                  <li>By Admin</li>
                  <li>Php</li>
                  <li>27 July 2016</li>
                </ul>
                <p>We can make table scrollable by adding table-responsive class to it, but how can we loop it so that once the loop ends..</p>
              </div>
              <div class="blog-footer">
                <ul class="like-comment">
                  <li><a href="/qa#"><i class="icon-heart"></i>23</a>
                  </li>
                  <li><a href="/qa#"><i class="icon-chat"></i>32</a>
                  </li>
                </ul> <a href="/qa#" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> MORE</a> 
              </div>
            </div>
          </div>
          <!-- Blog Grid -->
          <!-- Blog Grid -->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="blog-grid">
              <div class="blog-image">
                <img alt="blog-image1" class="img-responsive" src="images/blog/3.jpg">
              </div>
              <div class="blog-content">
                <h5><a href="/qablog-detail.html"> Access a list within an element of a Pandas DataFrame </a></h5>
                <ul class="post-meta">
                  <li>By Admin</li>
                  <li>Php</li>
                  <li>27 July 2016</li>
                </ul>
                <p>We can make table scrollable by adding table-responsive class to it, but how can we loop it so that once the loop ends..</p>
              </div>
              <div class="blog-footer">
                <ul class="like-comment">
                  <li><a href="/qa#"><i class="icon-heart"></i>23</a>
                  </li>
                  <li><a href="/qa#"><i class="icon-chat"></i>32</a>
                  </li>
                </ul> <a href="/qa#" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> MORE</a> 
              </div>
            </div>
          </div>
          <!-- Blog Grid -->
          <div class="clearfix"></div>
          <div class="text-center clearfix section-padding-40"> <a href="/qajavascript:void(0)" class="btn btn-lg btn-primary">View all Blog Post</a> 
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- Row End -->
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->
    <!-- =-=-=-=-=-=-= Testimonials =-=-=-=-=-=-= -->
    <section data-stellar-background-ratio="0.1" class="testimonial-bg parallex">
      <div class="container">
        <!-- Row -->
        <div class="row">
          <!-- Blog Grid -->
          <div class="col-md-8 ">
            <div id="owl-slider" class="happy-client">
              <div class="item"> <i class="fa fa-quote-left"> </i>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                <div class="client-info-wrap clearfix">
                  <div class="client-img">
                    <img class="img-circle" src="../../../theemon.com/d/designagency/LivePreview/assets/images/client-img-two.jpg" alt="" />
                  </div>
                  <div class="client-info"> <strong> Muhammad Umair </strong>  <i class="fa fa-star grey-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i> 
                  </div>
                </div>
              </div>
              <div class="item"> <i class="fa fa-quote-left"> </i>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                <div class="client-info-wrap clearfix">
                  <div class="client-img">
                    <img class="img-circle" src="../../../theemon.com/d/designagency/LivePreview/assets/images/client-img-two.jpg" alt="" />
                  </div>
                  <div class="client-info"> <strong> Muhammad Umair </strong>  <i class="fa fa-star grey-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Blog Grid -->
          <!-- Blog Grid -->
          <div class="col-md-4 no-padding">
            <div class="success-stories">
              <div class="main-heading text-center">
                <h2>Success Stories</h2>
                <hr class="main">
                <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
                  <br>eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
              </div>
            </div>
          </div>
          <!-- Blog Grid -->
          <div class="clearfix"></div>
        </div>
        <!-- Row End -->
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Testimonials  =-=-=-=-=-=-= -->