{% extends 'base_qa.html' %}
 {% load static %}
{% load i18n %}

{% block style %}
<style type="text/css">
	
.q_text
{
    white-space: nowrap; 
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* .qtext
{

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
*/

.q-tag {
    border: 1px solid #d9dfe9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f3f5f9;
    text-decoration: none;
    color: #6f7d95;
    line-height: 20px;
    display: inline-block;
    padding: 0 10px;
    margin-right: 5px;
    color: #6f7d95;
}

. {
    font-size: 26px;
    font-weight: 700;
    color: #6f7d95;
    margin-left: 35px;
}

</style>
{% endblock style %}


 {% block content %}

	<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
	<div class="main-content-area" style="    background: #fafafa;">
		<!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
<!-- 		<section class="white question-tabs padding-bottom-80" id="latest-post"> -->
			<div class="container ">

				<!-- title-section -->

				<div class="main-heading text-center">

		        </div>

				<!-- End title-section -->
				
				<div class="row">
					<!-- Content Area Bar -->

					<div class="col-sm-3 col-md-2">
					            <div class="panel-group" id="accordion">
					            	<div class="panel panel-default">
					                    <div class="panel-heading" style="background-color: #ffffff;border: 1px solid #efefef;">
					                        <h4 class="panel-title">
					                            <a href="/qa/quora"><span class="glyphicon glyphicon-file">
					                            </span>|Questions </a>
					                        </h4>
					                    </div>
					                </div>
					                <div class="panel panel-default">
					                    <div class="panel-heading" style="background-color: #ffffff;border: 1px solid #efefef;">
					                        <h4 class="panel-title">
					                            <a  href="/qa/list_cat"><span class="glyphicon glyphicon-th">
					                            </span>|Categories</a>
					                        </h4>
					                    </div>
	
					                </div>
					                <div class="panel panel-default">
					                    <div class="panel-heading" style="background-color: #ffffff;border: 1px solid #efefef;">
					                        <h4 class="panel-title">
					                            <a href="/qa/list_tags"><span class="fa fa-tags">
					                            </span>|Tags</a>
					                        </h4>
					                    </div>

					                </div>
					                
					            </div>
					        </div>



					<div class="white  col-md-9 col-sm-12 col-xs-12" style="border: 1px solid #efefef;">
						<div class="panel-body">
							<div class="tab-content">
								<!-- <div id="tab1" class="tab-pane active"> -->
											<!-- <div class="row"> -->

										          <!-- <div class="col-md-12"> -->
										          	<center><h1 style="color: black;"> Categories </h1></center>
										            <div class="">

										              

										              <hr>
										              <h2 class="" >A</h2>
										              <ul>
										              	
										              	{% for c in cat_a %}
										              	<form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										              	<li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										              	</form>
										              	{% endfor %}
										              </ul>
														              <br>
										              <hr>
										               <h2 class="" >B</h2>
										              <ul >
										              	
										              	{% for c in cat_b %}
										              	<form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										              	<li class="col-md-4 " ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										              	</form>
										              	{% endfor %}
										              </ul>
														              <br>
										              <hr>
										               <h2 class="" >C</h2>
										              <ul>
										              	
										              	{% for c in cat_c %}
										              	<form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										              	<li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										              	</form>
										              	{% endfor %}
										              </ul>
														              <br>
										              <hr>
										               <h2 class="" >D</h2>
										              <ul>
										                
										                {% for c in cat_d %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >E</h2>
										              <ul>
										                
										                {% for c in cat_e %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >F</h2>
										              <ul>
										                
										                {% for c in cat_f %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >G</h2>
										              <ul>
										                
										                {% for c in cat_g %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >H</h2>
										              <ul>
										                
										                {% for c in cat_h %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >I</h2>
										              <ul>
										                
										                {% for c in cat_i %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >J</h2>
										              <ul>
										                
										                {% for c in cat_j %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >K</h2>
										              <ul>
										                
										                {% for c in cat_k %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >L</h2>
										              <ul>
										                
										                {% for c in cat_l %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >M</h2>
										              <ul>
										                
										                {% for c in cat_m %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >N</h2>
										              <ul>
										                
										                {% for c in cat_n %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >O</h2>
										              <ul>
										                
										                {% for c in cat_o %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >P</h2>
										              <ul>
										                
										                {% for c in cat_p %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >Q</h2>
										              <ul>
										                
										                {% for c in cat_q %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >R</h2>
										              <ul>
										                
										                {% for c in cat_r %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >S</h2>
										              <ul>
										                
										                {% for c in cat_s %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >T</h2>
										              <ul>
										                
										                {% for c in cat_t %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >V</h2>
										              <ul>
										                
										                {% for c in cat_v %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >W</h2>
										              <ul>
										                
										                {% for c in cat_w %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >X</h2>
										              <ul>
										                
										                {% for c in cat_x %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >Y</h2>
										              <ul>
										                
										                {% for c in cat_y %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										               <h2 class="" >Z</h2>
										              <ul>
										                
										                {% for c in cat_z %}
										                <form method="post" action="/qa/categorie/">
                  											{% csrf_token %}
                  												<input type="hidden" name="categorie" value="{{ c.id }}" >
										                <li class="col-md-4" ><button  class="btn btn-default btn-sm">{{ c.title_categorie }}</button></li>
										                </form>
										                {% endfor %}
										              </ul>
										                      <br>
										              <hr>
										              <hr>

										            </div>
										          <!-- </div> -->

										          <div class="clearfix"></div>
										        <!-- </div> -->
									<!-- </div> -->
										
		
							</div>
						</div>
					</div>
					
					<!-- ************************** -->

					<!-- Right Sidebar -->
					<!-- Right Sidebar End -->

					<div class="clearfix"></div>
				</div>
			</div>
			<!-- end container -->
		<!-- </section> -->
		<!-- =-=-=-=-=-=-= Latest Questions  End =-=-=-=-=-=-= -->


  {% endblock content %}