{% extends 'base_qa.html' %}
 {% load static %}


{% block style %}
<style type="text/css">
	
.q_text
{
    white-space: nowrap; 
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis; 
}


</style>
{% endblock style %}


 {% block content %}

 	<!-- =-=-=-=-=-=-= HOME =-=-=-=-=-=-= -->
	<div class="full-section search-section">
		<div class="search-area container">
			<h3 class="search-title">Have a Question?</h3>
			<p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>
			<form autocomplete="off" method="Post" action="/qa/search/" class="search-form clearfix" id="search-form">
				{% csrf_token %}
				<input name="query" type="text" title="* Please enter a search term!" placeholder="Type your search terms here" class="search-term " autocomplete="off">
				<input type="submit" value="Search" class="search-btn">
			</form>

		</div>
	</div>
	<!-- =-=-=-=-=-=-= HOME END =-=-=-=-=-=-= -->
	<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
	<div class="main-content-area">
		<!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
		<section class="white question-tabs padding-bottom-80" id="latest-post">
			<div class="container">

				<!-- title-section -->

				<div class="main-heading text-center">
					<div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
		          </div>
		          <h2><!-- Recent Questions --> Results</h2>
		          <div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
		          </div>

		          <!-- <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
		            <br> eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit.................{{ mu }} ... {{ mr }}</p> -->
		        </div>

				<!-- End title-section -->
				
				<div class="row">
					<!-- Content Area Bar -->
					<div class="col-md-8 col-sm-12 col-xs-12" style="    border: 1px solid #efefef;">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<!-- Tabs -->
								<!-- <ul class="nav panel-tabs">
									<li class="active"> <a data-toggle="tab" href="/qa#tab1"><i class="icofont icon-ribbon"></i><span class="hidden-xs">Recent Questions</span></a> 
									</li>
									<li> <a data-toggle="tab" href="/qa#tab2"><i class="icofont icon-global"></i><span class="hidden-xs">Popular Questions</span></a> 
									</li>
									<li > <a data-toggle="tab" href="/qa#tab3"><i class="icofont icon-layers"></i><span class="hidden-xs">Questions -No answers</span></a> 
									</li>
								</ul> -->
							</div>
						</div>
						<div class="panel-body">
							<div class="tab-content">

									<div id="tab1" class="tab-pane active">
											<!-- Question Listing -->
											{% if questions %}
											{% for question in questions %}
											<div class="listing-grid">
												<div class="row">
													<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
														<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="/qa#">
															{% if question.user_data.photo_profil.image.url %}
																<img alt="" class="img-responsive center-block" src="{{ question.user_data.photo_profil.image.url }}">
															{% else %}
										                      <img class="img-sm"  src='{% static "qa/images/p1.png" %}'>
										                    {% endif %}
														</a>
													</div>
													<div class="col-md-7 col-sm-8  col-xs-12">
														<h3><a  href="/qa/q/{{ question.id }}/"> {{ question.question_title|truncatechars_html:50 }}</a></h3>
														<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{ question.pub_date}}</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> {{ question.views }} Views</span> 
														</div>
													</div>
													<div class="col-md-3 col-sm-2 col-xs-12">
														<ul class="question-statistic">
															<li > <a data-toggle="tooltip" data-placement="bottom" title="Answers"><span>{{ question.answer_set.count }}</span></a> 
															</li>
															<li> <a data-toggle="tooltip" data-placement="bottom" title="Votes"><span>{{ question.qvoter_set.count }}</span></a> 
															</li>
														</ul>
													</div>
													<div class="col-md-10 col-sm-10  col-xs-12">
														<p class="q_text">{{ question.question_text|truncatechars_html:100| safe }}</p>
														<div class="pull-right tagcloud">
															{% for tag in question.tags.all %}
														 	<a href="/qa/tag/{{ tag.slug|slugify }}/">{{ tag.slug }}</a>
														 	{% endfor %}
														</div>
													</div>


												</div>


											</div>
											{% endfor %}
											{% endif %}
											<!-- Question Listing End -->


											<!-- Pagination View More -->
										<div class="text-center clearfix">
											<!-- <button class="btn btn-primary btn-lg">View All Question</button> -->
											<div class="pagination center-block">
											          <span class="step-links">
											           <div class="clearfix"></div>
											            <nav aria-label="">
											              <ul class="pager">
											                {% if questions.has_previous %}
											                    <li><a href="/qa?page={{ questions.previous_page_number }}">Précédent</a></li>
											                {% endif %}

											                 <span class="current">
											                   {{ questions.number }} / {{ questions.paginator.num_pages }}
											                </span>

											                {% if questions.has_next %}
											                    <li><a href="/qa?page={{ questions.next_page_number }}">Suivant</a></li>
											                {% endif %}
											              </ul>
											            </nav>
											          </span>
											</div>
										</div>
										<!-- Pagination View More End -->
									</div>
										


										<!-- ****************************** tab 2 **************** -->


									<div id="tab2" class="tab-pane">
											<!-- Question Listing -->
											{% if question_top %}
											{% for question in question_top %}
											<div class="listing-grid">
												<div class="row">
													<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
														<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="/qa#">
															{% if question.user_data.photo_profil.image.url %}
																<img alt="" class="img-responsive center-block" src="{{ question.user_data.photo_profil.image.url }}">
															{% else %}
										                      <img class="img-sm"  src='{% static "qa/images/p1.png" %}'>
										                    {% endif %}
														</a>
													</div>
													<div class="col-md-7 col-sm-8  col-xs-12">
														<h3><a  href="/qa/q/{{ question.id }}/"> {{ question.question_title|truncatechars_html:50 }}</a></h3>
														<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{ question.pub_date}}</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> {{ question.views }} Views</span> 
														</div>
													</div>
													<div class="col-md-3 col-sm-2 col-xs-12">
														<ul class="question-statistic">
															<li > <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>{{ question.answer_set.count }}</span></a> 
															</li>
															<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>{{ question.qvoter_set.count }}</span></a> 
															</li>
														</ul>
													</div>
													<div class="col-md-10 col-sm-10  col-xs-12">
														<p>{{ question.question_text| safe }}</p>
														<div class="pull-right tagcloud">
															{% for tag in question.tags.all %}
														 	<a href="/qa/tag/{{ tag.slug|slugify }}/">{{ tag.slug }}</a>
														 	{% endfor %}
														</div>
													</div>


												</div>


											</div>
											{% endfor %}
											{% endif %}
											<!-- Question Listing End -->
									</div>
									<!-- ****************************** end tab 2 **************** -->


									<!-- ****************************** tab 3 **************** -->
									<div id="tab3" class="tab-pane">
											<!-- Question Listing -->
											{% if question_null %}
											{% for question in question_null %}
											<div class="listing-grid">
												<div class="row">
													<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
														<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="/qa#">
															{% if question.user_data.photo_profil.image.url %}
																<img alt="" class="img-responsive center-block" src="{{ question.user_data.photo_profil.image.url }}">
															{% else %}
										                      <img class="img-sm"  src='{% static "qa/images/p1.png" %}'>
										                    {% endif %}
														</a>
													</div>
													<div class="col-md-7 col-sm-8  col-xs-12">
														<h3><a  href="/qa/q/{{ question.id }}/"> {{ question.question_title|truncatechars_html:50 }}</a></h3>
														<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{ question.pub_date}}</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> {{ question.views }} Views</span> 
														</div>
													</div>
													<div class="col-md-3 col-sm-2 col-xs-12">
														<ul class="question-statistic">
															<li > <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>{{ question.answer_set.count }}</span></a> 
															</li>
															<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>{{ question.qvoter_set.count }}</span></a> 
															</li>
														</ul>
													</div>
													<div class="col-md-10 col-sm-10  col-xs-12">
														<p>{{ question.question_text| safe }}</p>
														<div class="pull-right tagcloud">
															{% for tag in question.tags.all %}
														 	<a href="/qa/tag/{{ tag.slug|slugify }}/">{{ tag.slug }}</a>
														 	{% endfor %}
														</div>
													</div>


												</div>


											</div>
											{% endfor %}
											{% endif %}
											<!-- Question Listing End -->
									</div>
									<!-- ****************************** end tab 3 **************** -->	
							</div>
						</div>
					</div>
					
					<!-- ************************** -->

					<!-- Right Sidebar -->
					<div class="col-md-4 col-sm-12 col-xs-12 clearfix pull-right">
						   <div class="side-bar">
					{% include 'qa/right_sidebar.html' %}
							</div>
					      </div>
					<!-- Right Sidebar End -->

					<div class="clearfix"></div>
				</div>
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Latest Questions  End =-=-=-=-=-=-= -->
		<!-- =-=-=-=-=-=-= SEPARATOR Fun Facts =-=-=-=-=-=-= -->
		<div class="parallex section-padding fun-facts-bg text-center" data-stellar-background-ratio="0.1">
			<div class="container">

				<div class="row">
					<!-- countTo -->
					
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-4 col-md-4">
						<div class="statistic-percent" data-perc="126">
							<div class="facts-icons"> <span class="icon-trophy"></span> 
							</div>
							<div class="fact"> <span class="percentfactor">+{{ membres }}</span>
								<p>Membres</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-4 col-md-4">
						<div class="statistic-percent" data-perc="274">
							<div class="facts-icons"> <span class="icon-chat"></span> 
							</div>
							<div class="fact"> <span class="percentfactor">+{{count_q}}</span>
								<p>Questions</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-4 col-md-4">
						<div class="statistic-percent" data-perc="434">
							<div class="facts-icons"> <span class="icon-megaphone"></span> 
							</div>
							<div class="fact"> <span class="percentfactor">+{{ count_a }}</span>
								<p>Answers</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
				</div>
				<!-- End row -->
			</div>
			<!-- end container -->
		</div>
		<!-- =-=-=-=-=-=-= SEPARATOR END =-=-=-=-=-=-= -->

		<!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->
		<section class="custom-padding" id="clients">
			<div class="container">
				<!-- Row -->
				<div class="row">
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-sm-4 col-xs-6 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="/qa#">
								<img alt="Clients Logo" src="images/clients/client_5.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="/qa#">
								<img alt="Clients Logo" src="images/clients/client_6.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2  col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="/qa#">
								<img alt="Clients Logo" src="images/clients/client_7.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="/qa#">
								<img alt="Clients Logo" src="images/clients/client_8.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="/qa#">
								<img alt="Clients Logo" src="images/clients/client_9.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="/qa#">
								<img alt="Clients Logo" src="images/clients/client_10.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
				</div>
				<!-- Row End -->
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->
        
		<!-- =-=-=-=-=-=-= Download Apps =-=-=-=-=-=-= -->
		<div class="parallex section-padding  our-apps text-center">
			<div class="container">
				<!-- title-section -->
				<div class="main-heading text-center">
					<h2>Download Our Apps</h2>
					<hr class="main">
				</div>
				<!-- End title-section -->
				<div class="row">
					<div class="app-content">
						<!-- Single download start \-->
						<div class="col-md-4 col-sm-4">
							<a href="/qa#" class="app-grid"> <span class="app-icon"> <img alt="#" src='{% static "qa/images/mobile.png" %}'> </span>
								<div class="app-title">
									<h5>Available on the</h5>
									<h3>iOS App Store</h3>
								</div>
							</a>
						</div>
						<!--/ Single download end-->
						<!-- Single download start \-->
						<div class="col-md-4 col-sm-4">
							<a href="/qa#" class="app-grid"> <span class="app-icon"> <img alt="#" src='{% static "qa/images/play-store.png" %}'> </span>
								<div class="app-title">
									<h5>Available on the</h5>
									<h3>Google Store</h3>
								</div>
							</a>
						</div>
						<!--/ Single download end-->
						<!-- Single download start \-->
						<div class="col-md-4  col-sm-4">
							<a href="/qa#" class="app-grid"> <span class="app-icon"> <img alt="#" src='{% static "qa/images/windows.png" %}'> </span>
								<div class="app-title">
									<h5>Available on the</h5>
									<h3>Windows Store</h3>
								</div>
							</a>
						</div>
						<!--/ Single download end-->
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- end container -->
		</div>
		<!-- =-=-=-=-=-=-= Download Apps END =-=-=-=-=-=-= -->
        
	</div>
	<!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->
	<section id="social-media">
		<div class="block no-padding">
			<div class="row">
				<div class="col-md-12">
					<div class="social-bar">
						<ul>
							<li class="social1">
								<a title="" href="/qa#">
									<img alt="" src='{% static "qa/images/facebook.png" %}'> <span>Join Us On<strong>FACEBOOK</strong></span>
								</a>
							</li>
							<li class="social2">
								<a title="" href="/qa#">
									<img alt="" src='{% static "qa/images/twitter.png" %}'> <span>Join Us On<strong>TWIITER</strong></span>
								</a>
							</li>
							<li class="social3">
								<a title="" href="/qa#">
									<img alt="" src='{% static "qa/images/google-plus.png" %}'> <span>Join Us On<strong>GOOGLE PLUS</strong></span>
								</a>
							</li>
							<li class="social4">
								<a title="" href="/qa#">
									<img alt="" src='{% static "qa/images/linkedin.png" %}'> <span>Join Us On<strong>LINKED IN</strong></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
  {% endblock content %}