{% extends 'SocialMedia/myprofil/forms/base_forms.html' %}
{% load widget_tweaks %}
{% block form %}
    <form method="post" action="{% url 'SocialMedia:editExperience' exp %}">
    {% csrf_token %}
                            <div class="form-group row">

                            <div class="col-sm-3">
                                    <label for="exampleInputEmail1" class="h6 fw--600 text-darkest">poste</label>
                                    {% render_field editForm.poste  class="form-control input-sm" value=user.profil.youtube placeholder="Enter email" %}
                            </div>
                            <div class="col-sm-3">
                                    <label for="exampleInputEmail1" class="h6 fw--600 text-darkest">entreprise</label>
                                    {% render_field editForm.entreprise class="form-control input-sm" value=user.profil.instagram placeholder="Enter email" %}
                            </div>

                            <div class="col-sm-3">
                                    <label for="exampleInputEmail1" class="h6 fw--600 text-darkest">date debut experience</label>
                                    {% render_field editForm.dateDebut type="date" class="form-control input-sm" value=user.profil.linkedin placeholder="Enter email" %}
                            </div>
                            <div class="row">&nbsp;</div><div class="row">&nbsp;</div>

                            <div class="col-sm-4">
                                    <label for="exampleInputEmail1" class="h6 fw--600 text-darkest">date fin experience</label>
                                    {% render_field editForm.dateFin type="date" class="form-control input-sm" value=user.profil.entreprise placeholder="Enter email" %}
                            </div>

                            <div class="col-sm-4">
                                    <label for="exampleInputEmail1" class="h6 fw--600 text-darkest">description</label>
                                    {% render_field editForm.description class="form-control input-sm" value=user.first_name placeholder="Enter email" %}
                            </div>

                            </div>
        <div class="row text-center">
            <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;">Modifier</button>
        </div>
    </form>
{% endblock %}