{% load widget_tweaks %}

<form class=" form-horizontal" onsubmit="return" id="form_ajouter_formation" method="post"
      style="background-color:white">

    <div class="modal-body DivToScroll DivWithScroll" style=" margin-left: 1px; background-color:white;padding:30px;">

        {% csrf_token %}
        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-12">Ecole *</label>
            <div class="col-md-12 inputGroupContainer">
                {% render_field FormFormation.nom_ecole class="form-control awesomplete ecole_suggestion" data-minChars="1" %}
            </div>

            {% for error in FormFormation.nom_ecole.errors %}
                <span class="error-block" style="padding-left: 15px;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="col-md-12">Titre de la formation *</label>
            <div class="col-md-12 inputGroupContainer">
                {% render_field FormFormation.titre_formation class="form-control" %}
            </div>

            {% for error in FormFormation.titre_formation.errors %}
                <span class="error-block" style="padding-left: 15px;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="col-md-12">Domaine d'étude </label>
            <div class="col-md-12 inputGroupContainer">
                {% render_field FormFormation.domaine class="form-control" placeholder="Ex: Informatique" %}
            </div>

            {% for error in FormFormation.domaine.errors %}
                <span class="error-block" style="padding-left: 15px;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="col-md-12">Année de début *</label>
            <div class="col-md-12 inputGroupContainer">
                {% render_field FormFormation.annee_debut class="form-control" %}
            </div>

            {% for error in FormFormation.annee_debut.errors %}
                <span class="error-block" style="padding-left: 15px;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div class="form-group ">
            <label class="col-md-12" id="label_date_fin_Formation">Année de fin *</label>
            <div class="col-md-12 inputGroupContainer">
                {% render_field FormFormation.annee_fin class="form-control" %}
            </div>

            {% for error in FormFormation.annee_fin.errors %}
                <span class="error-block" style="padding-left: 15px;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="col-md-12">Activités et associations</label>
            <div class="col-md-12 inputGroupContainer">
                {% render_field FormFormation.activite_et_associations class="form-control" rows="1" %}
            </div>

            {% for error in FormFormation.activite_et_associations.errors %}
                <span class="error-block" style="padding-left: 15px;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="col-md-12">Description</label>
            <div class="col-md-12 inputGroupContainer">
                {% render_field FormFormation.description class="form-control" rows="1" %}
            </div>

            {% for error in FormFormation.description.errors %}
                <span class="error-block" style="padding-left: 15px;">{{ error }}</span><br>
            {% endfor %}
        </div>
    </div> <!-- End Div with scroll modal body -->
    <!-- Button -->
    <div class="form-group" style="padding-top: 10px;">
        <div class="col-md-12">
            <button type="submit" class="btn btn-info float--right" style="margin-right: 10px;"
                    id="btn_ajouter_formation"><span
                    id="myAjouterFormationSpinner" style="position:relative; top: -2px;left: -15px; "></span>Enregistrer
            </button>
        </div>

        <label class="col-md-12 "></label>

    </div>

</form>